<!--

Code and tutorial explanation from https://docs.angularjs.org/tutorial/step_04

Includes using:

Two-way Data Binding	ng-app	ng-controller	ng-repeat	filter by query		filter by 

-->

<!doctype html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>


<script>

var phonecatApp = angular.module('phonecatApp',[]);

phonecatApp.controller('PhoneListCtrl',function ($scope) {
	$scope.phones = [
		{'name': 'Nexus S',
		 'snippet': 'Fast just got faster with Nexus S.',
		 'age': 1},
		{'name': 'Motorola XOOM with Wi-Fi',
		 'snippet': 'The Next, Next Generation tablet.',
		 'age': 2},
		{'name': 'MOTOROLA XOOM',
		 'snippet': 'The Next, Next Generation tablet.',
		 'age': 3}
	];

	$scope.orderProp = 'age'; 
});

</script>

<style>

</style>


<body ng-app="phonecatApp" ng-controller="PhoneListCtrl">

Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
	<option value="name">Alphabetical</option>
	<option value="age">Newest</option>
</select>


<ul class="phones">
	<li ng-repeat="phone in phones | filter: query | orderBy: orderProp">
		{{phone.name}}
		<p>{{phone.snippet}}</p>
	</li>
</ul>


</body>
</html>