/* =================================================================================================================*/




																				/* 1920 x 1080 */
																				/* 1920 x 1200 */


@media screen and (min-width: 1910px) {

}




/* =================================================================================================================*/


																				/* 1680 x 1050 */


@media screen and (min-width: 1679px) and (max-width: 1909px) {


}


/* =================================================================================================================*/


																				/* 1600 x 900 */


@media screen and (min-width: 1599px) and (max-width: 1678px) {

	
}



/* =================================================================================================================*/


																				/* 1440 x 900*/


@media screen and (min-width: 1439px) and (max-width: 1598px) {


}




/* =================================================================================================================*/


																				/* 1366 x 768 */
																				/* 1360 x 768 */


@media screen and (min-width: 1359px) and (max-width: 1469px) {

	body {
		margin: 0%;
		padding: 0%;
		width: 100%;
		font-family: 'Open Sans Condensed', sans-serif;	}

	.slogan-header {
		width: 100%;
		height: 35px;
		max-height: 35px;
		background-color: #857928;
		padding-top: 2.5%;
		padding-bottom: 0%;
		margin: 0%;
	}

	#slogan {
		background-image: url('../media/HBH09.png');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 80%;
		height: 30px;
		margin: 0% 10% 0% 10%;
		padding: 0% 0% 0% 0%;
	}

	.buttons-order-container {
		width: 100%;
		height: 90px;
		padding-top: 30px;
	}

	.about-contact-container {
		width: 6%;
		max-width: 6%;
		display: inline-block;
		margin: 0% 0% 0% 4%;
	}

	#aboutus {
		width: 100%;
		display: block;
		font-size: 18px;
		text-decoration: none;
		color: #7A7A7A;
		padding-top: 5px;
	}

	#contactus {
		display: block;
		font-size: 18px;
		text-decoration: none;
		color: #7A7A7A;
	}

	.four-btn {
		margin: -1% 1% 0% 0%;
		font-size: 16px;
		color: white;
		width: 88px;
		height: 88px;
		line-height: 20px;
		text-shadow: none;
		/* vertical-align: text-bottom; */
		text-align: center;
		white-space: pre-wrap;

	}
	
	.search-homes-btn {
		background: #c6902a;
		border-color: #835e16;
		/* background-image: */
		background: -webkit-linear-gradient(bottom, #c6902a , #a7650b); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(top, #c6902a , #a7650b); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(top, #c6902a , #a7650b); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom, #c6902a , #a7650b); /* Standard syntax */
		margin-left: 9%;
	}

	.mortgage-btn {
		background: #c6902a;
		border-color: #835e16;
		/* background-image: */
		background: -webkit-linear-gradient(bottom, #8d9900 , #798301); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(top, #8d9900 , #798301); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(top, #8d9900 , #798301); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom, #8d9900 , #798301); /* Standard syntax */
	}

	.realtor-btn {
		background: #c6902a;
		border-color: #835e16;
		/* background-image: */
		background: -webkit-linear-gradient(bottom, #8d5a14 , #6b4510); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(top, #8d5a14 , #6b4510); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(top, #8d5a14 , #6b4510); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom, #8d5a14 , #6b4510); /* Standard syntax */
	}

	.concierge-btn {
		background: #c6902a;
		border-color: #835e16;
		/* background-image: */
		background: -webkit-linear-gradient(bottom, #5b5736 , #222014); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(top, #5b5736 , #222014); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(top, #5b5736 , #222014); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom, #5b5736 , #222014); /* Standard syntax */
	}

	#floodReport {
		display: inline-block;
		background-image: url('../media/HBH01.png');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 16%;
		height: 30px;
		margin: 0% 7% 0% 5%;
		padding: 0% 0% 0% 0%;
	}

	#propertyPeek {
		display: inline-block;
		background-image: url('../media/HBH02.png');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 16%;
		height: 30px;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;	
	}

	.social-sidebar {
		float: left;
		width: 9%;
		padding-left: 2%;
	}

	#charity {
		background-image: url('../media/HBH04.png');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 200px;
	}

	.social {
		width: 70%;
		height: 80px;
		margin-left: 13%;
	}

	#twitterIcon {
		background-image: url('../media/HBH05.png');
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 30px;
	}

	#wordpressIcon {
		background-image: url('../media/HBH06.png');
		background-repeat: no-repeat;
		background-size: 100%;	
	}

	#fbIcon {
		background-image: url('../media/HBH07.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	#puppy {
		background-image: url('../media/HBH03.png');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 32%;
		height: 490px;
		display: inline-block;
		margin: 0% 0% 0% 8.4%;
		float: left;
	}

	#servicesContainer {
		display: inline-block;
		width: 22%;
		height: 400px;
		margin: 0% 0% 0% 6.2%;
	}

	.list-spacer {
		display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 7% 0%;
		-webkit-margin-before: 0%;
		-webkit-margin-after: 0%;
		-webkit-padding-before: 0%;
		-webkit-padding-after: 7%;
		font-size: 14px;
		color: #7A7A7A;
	}

	.concierge-servicelist {
		display: block;
		width: 100%;
		margin: 0% 0% 1.5% 0%;
		padding: 0%;
		-webkit-margin-before: 0%;
		-webkit-margin-after: 1.5%;
		-webkit-padding-before: 0em;
		-webkit-padding-after: 0em;
		font-size: 14px;
		color: #7A7A7A;
	}

	#realtorsContainer {
		float: right;
		display: inline-block;
		width: 13.1%;
		max-width: 13.1%;
		height: 300px;
		padding: 0% 6% 0% 0%;
	}

	.realtor-list {
		display: block;
		width: 80%;
		margin: 1% 0% 0% 0%;
		padding: 3.5% 1% 3.5% 1%;
		-webkit-margin-before: 1%;
		-webkit-margin-after: 0%;
		-webkit-padding-before: 3.5%;
		-webkit-padding-after: 3.5%;
		font-size: 14px;
		color: #857928;
	}

	.realtor-header {
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}

	#house {
		background-image: url('../media/HBH08.png');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 24%;
		height: 100px;
		float: right;
		margin: 4% 0% 0% 0%;
		padding: 0%;
	}
}















/* =================================================================================================================*/


																				/* 1280 x 1024 */
																				/* 1280 x 800 */


@media screen and (min-width: 1279px) and (max-width: 1358px) {


}

/* =================================================================================================================*/


																				/* 1024 x 768 */


@media screen and (min-width: 1022px) and (max-width: 1278px) {


}


/* =================================================================================================================*/


																				/* 768 x 1024 */


@media screen and (min-width: 766px) and (max-width: 1021px) {


}



/* =================================================================================================================*/


																				/* 568 x 320 */


@media screen and (min-width: 566px) and (max-width: 765px) {


}



/* =================================================================================================================*/


																				/* 480 x 320 */


@media screen and (min-width: 478px) and (max-width: 565px) {


}


/* =================================================================================================================*/


																				/* 320 x 480 */


@media screen and (min-width: 150px) and (max-width: 477px) {


}