


.list-setup {
	display: inline-block;
	float: left;
	width: 20%;
	position: relative;
}


.list-setup:after {
	width: 80%;
	height: 80%;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	content: "";
	position: absolute;
	top: 10%;
	left: 10%;
}


.img-look {
	display: inline-block;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: red;
}


.white-box {
	width: 80%;
	padding: 10% 10% 10% 10%;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}