@media (min-width: 1199px) {
																									/* 1200+ px */

	body {
		width: 100%;
	}
																						/* Triggers */
	#toolsTrigger {
		margin-top: 57.885%; /* 800px */
	}

	#iconTrigger1 {
		margin-top: 64%; /* 900px; */
	}

	#synerginTrigger {
		margin-top: 230%; /* 2900px; */
	}

	#galleryDivMarginTrigger {
		margin-top: 250%; /* 3100px; */
	}

	#elevatorTriggerHeight{
		margin-top: 265%;
	}
																									/* 1200+ px */
	#elevatorTriggerContent{
		margin-top: 285%;
	}

	#changeIndesignTrigger {
		margin-top: 299%;
	}

	#changeFixedpicTrigger {
		margin-top: 325%;
	}
																						/* synerginFixedPic elements */
	#synerginFixedPic {
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('http://162.243.103.157/assets/mica-assets/teamusa.jpg');
	}

	#teamCaption {
		color: white;
		margin: 0% 0% 0% 0%;
		width: 100%;	
		height: auto;
		text-align: center;
		background-color: black;
		font-size: 2em;
		z-index: -1;
		position: absolute;
		opacity: 1;
	}

	#micaCaption {
		float: right;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 70%;
		display: block;
		color: white;
		width: 100%;
		height: auto;
		background-color: black;
		opacity: 1;
		font-size: 2em;
		z-index: -1;
		position: absolute;
	}

	#synMobile {
		display: none;
	}

	.landing-div {
		width: 100%;
	}

	.mw-name {
	    font-size: 4.2em;
		padding: 5% 0% 0% 0%;
		margin: 0% 33% 0% 33%;
	} 

	.job-title {
		font-size: 0.8em;
		margin: 0% 40% 0% 40%;
		padding: 0% 0% 1.5% 0%;
	}
																										/* 1200+ px */
	.javascript-logo {
		float: left;
		width: 11.3%;
		display: inline-block;
		height: 138px;
		margin: 0% 1% 3% 32%;	
	}

	.html-logo {
		display: inline-block;
		width: 9.5%;
		float: left;
		margin: 0% 1% 3% 1%;
		opacity: 1;
	}

	.css-logo {
		display: inline-block;
		width: 9.5%;
		float: left;
		margin: 0px 25% 3% 1.5%;	
		opacity: 1;
	}	
	
	.mw-intro {
		font-size: 1.35em;
		margin: 1% 24% 2% 24%;
		padding: 1% 0% 1% 0%;
	}

	.button-container {
		width: 32%;
		margin: 2% 33.25% 0% 34.75%;
		padding-bottom: 2.4%;
	}
																									/* 1200+ px */

	.git-button {
		display: inline-block;
		margin: 1% 6% 1% 1%;
	}

	.portfolio-button {
		display: inline-block;
	}

	.linkedin-button {
		display: inline-block;
		margin: 1% 1% 1% 6%;
	}

	#scrollArrow {
		width: 7%;
		margin: 0% 46.5% 0% 46.5%;
	}

	.tools-proficiencies {
		background-color: white;
	}	

	.tools-header {
		font-size: 2.6em
	}

	.tools-list > p {
		margin: 11% 0 11% auto;
		font-size: 1.9em;
	}

	#ngwp {
		margin-bot: 5px; 
		-webkit-margin-after: 5px;
	}

	#ngwpsub {
		font-size: 0.7em; 
		font-style: italic; 
		margin: 5px 0px 15px 0px;
	}

	#elevatorDiv { 
		width: 100%; 
		height: 100%;
		margin: 2850px 0px 0px 0px;
	}
																									/* 1200+ px */
	.elevatorPitch {
		width: 100%;
	}

	.elevator-third {
		display: inline-block;
		opacity: 1;
	    width: 25%;   
	    padding: 5% 0% 5% 0%;
	    margin: 0% 1% 0% 5.5%;
	}

	.elevator-pic1 {
	    width: 100%;
	    margin: 0% 0% 0% 0%;
	}

	.elevator-pic2 {
	    width: 100%;
	    margin: 0% 0% 0% 0%;
	}

	.elevator-pic3 {
	    width: 100%;
	    margin: 0% 0% 0% 0%;
	}

	#indesignBrochureB {
		display: block;
	}

	#indesignBrochureA {
		display: none;
	}

	.elevator-title {
		margin: 0% 0% 0% 0%;
		font-size: 2em;
		width: 100%;
		text-align: center;
	}
/*
	.title1 {
		margin-left: 10%;
    }  
*/
    .title2 {
    	font-size: 1.4em;
	}
																									/* 1200+ px */
/*	.text2 {
		margin-left: 5.5%;
	}

	.text3 {
		width: 75%; 
		margin-left: 8%;
	}
	*/
	.elevator-text {
	    display: inline-block;
	    text-align: center;
	    font-size: 1.2em;
	    width: 100%;
	    height: auto;
	    padding: 0% 1% 0% 1%;
	    margin: 0% 0% 0% 0%;
	    /*padding: 0% 5% 0% 5%;*/
	}

	#preziDiv {
		/* background-image: url('mediaFolder/indexRemakeMedia/big-fish-in-the-blue-ocean.jpg'); */
		background-color: black;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		margin: 0px 0px 0px 0px;
		border-style: none;
		background-repeat: no-repeat;
	}

	.embedded-prezi {
		width: 80%;
		height: 80%;
		padding: 5% 0% 5% 0%;
		margin: 0% 10% 0% 10%;
	}

	#elevatorDiv2 {
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		z-index: -1;
		background-color: white;
		display: none;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}

	.elevatorPitch2 {
		display: inline-block;
		margin: 0%;
		padding: 0%;
	}

	#preziDiv2 {
		margin: 35% 0% 0% 0%;
		width: 100%;
		height: 100%;
		background-color: black;
		/* background-image: url('mediaFolder/indexRemakeMedia/big-fish-in-the-blue-ocean.jpg'); */
	}

	#elevatorDivMobile {
		display: none;
	}
}

																									/* 1024px */
@media (min-width: 760px) and (max-width: 1170px) {
	
	body {
		width: 100%;
		font-size: 16pt;
	}

	#toolsTrigger {
		display: none;
	}

	#iconTrigger1 {
		display: none;
		/* margin-top: 65%; */
	}

	#synerginTrigger {
		display: none;
		/* margin-top: 197% */
	}

	#elevatorTriggerWidth{
		display: none;
	}

	#elevatorTriggerHeight{
		display: none;
	}

	#elevatorTriggerContent{
		display: none;
	}

	#changeIndesignTrigger{
		display: none;
	}

	#changeFixedpicTrigger {
		display: none;
	}

	#galleryDivMarginTrigger {
		display: none;
		/* margin-top: 250%;  3100px; */
	}

	
	#synerginFixedPic {
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow-x: hidden;
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('mediaFolder/indexRemakeMedia/teamusa.jpg');	
		/* background-image: url('http://162.243.103.157/assets/mica-assets/teamusa.jpg'); */
		background-size: 100% 100%;		
		display: none;
	}

	#teamCaption {
		color: white;
		margin: 0% 0% 0% 0%;
		width: 100%;	
		height: auto;
		text-align: center;
		background-color: black;
		font-size: 1.5em;
		z-index: 1;
		position: absolute;
		opacity: 1;
		display: none;
	}

	#micaCaption {
		float: right;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 70%;
		display: block;
		color: white;
		width: 100%;
		height: auto;
		background-color: black;
		opacity: 1;
		font-size: 1.5em;
		z-index: 1;
		position: absolute;
		display: none;
	} 

	#synMobile {
		display: block;
		z-index: -1;
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		width: 100%;
	}
	
	.syn-mobile {
		width: 100%;
		height: 100%;
		z-index: -1;
		margin: 0%;
		padding: 0%;
		/* right: 500px; */
	}
	
	.syn-caption {
		color: orange;
		margin: 0% 0% 0% 0%;
		width: 100%;	
		height: auto;
		text-align: center;
		background-color: black;
		font-size: 1.6em;
		z-index: -1;
		/* position: absolute; */
		opacity: 1;	
	}
																									/* 1024px */
	.landing-div {
		width: 100%;
		z-index: 3;
		top: 0px;
		left: 0px;
		position: relative;
	}

	.mw-name {
		width: 100%;
		font-size: 3.2em;
		padding: 0% 0% 0% 0%;
		margin: 5% 0% 0% 0%;
	}

	.job-title {
		width: 100%;
		font-size: 0.8em;
		margin: 0% 0% 4% 0%;
	}

	.javascript-logo {
		margin: 0% 1% 0% 33%;	
		float: left;
		width: 10.5%;
		display: inline-block;
		height: 0.4%;		
	}

	.html-logo {
		display: inline-block;
		width: 9.5%;
		float: left;
		margin: 0% 1% 5% 1%;
		opacity: 1;
	}	

	.css-logo {
		display: inline-block;
		width: 9.5%;
		float: left;
		margin: 0% 43% 5% 1.5%;	
		opacity: 1;
	}	

	.mw-intro {
		display: block;
		width: 90%;
		font-size: 1.1em;
		margin: 1% 0% 3.5% 0%;
		padding: 0% 5% 0% 5%;
		clear: both;
	}
																									/* 1024px */
	.button-container {
		width: 100%;
		/*margin: 2% 18% 0% 18%;*/
		padding-bottom: 10%;
	}

	.git-button {
		float: left;
		display: inline-block;
		margin: 1% 6% 1% 23%;
	}

	.portfolio-button {
		float: left;
		display: inline-block;
		margin: 1% 6% 1% 0%;
	}

	.linkedin-button {
		float: left;
		display: inline-block;
		margin: 1% 1% 1% 0%;
	}


	.tools-proficiencies {
		background-color: black;
		z-index: 3;
	}

	.tools-header {
		width: 100%; 
		margin: 1% 0% 0% 0%; 
		font-size: 2.5em;
	}

	.tools-list > p {
		padding: 0% 0% 3.6% 0%;
		font-size: 1.3em;
	}

	#ngwp {
		margin: 0% 0% 0% 0%; 
		-webkit-margin-after: 0.02%;
		font-size: 1.3em;
	}

	#ngwpsub {
		font-size: 0.7em; 
		font-style: italic; 
		margin: 0% 0% 1.55% 0%;
	}

	#leftIcons {
		width: 36%;
		height: 100%;
		margin: 0% 0% 0% 0%;
		padding-top: 0%;
		position: relative;	
		top: 0%;
		float: left;
		display: inline-block;
		opacity: 1;
	}

	#rightIcons {
		width: 36%;
		height: 100%;
		margin: 0% 0% 0% 0%;
		padding-top: 0%;
		position: relative;	
		top: 0%;
		float: right;
		display: inline-block;
		opacity: 1;
	}

																									/* 1024px */
	#elevatorDiv { 
		display: block;
		width: 100%; 
		margin: 240% 0% 0% 0%;
	}

	.elevatorPitch {
		width: 100%;
		margin: 0%;
		padding: 0%;
	}

	.elevator-pic1 {
		display: block;
	    width: 60%;
	    margin: 5% 20% 2% 20%;
	    border-style: solid;
	}

	.elevator-pic2 {
		display: block;
	    width: 70%;
	    height: 25%;
	    margin: 2% 15% 2% 15%;
	    border-style: solid;
	}
																									/* 1024px */
	.elevator-pic3 {
		display: block;
	    width: 70%;
	    height: 25%;
	    margin: 2% 15% 2% 15%;
	    border-style: solid;
	}

	.elevator-title {
		display: block;
		margin: 1% 0% 2% 0%;
		padding: 0% auto 0% auto;
		font-size: 1.7em;
		width: 100%;
	}
         
	.elevator-text {
	    display: block;
	    font-size: 1.2em;
	    width: 80%;
	    height: auto;
	    margin: 0% 0% 7% 0%;
	    padding: 0% 10% 0% 10%;
	}

	#preziDiv {
		display: none;
		/* background-image: url('mediaFolder/big-fish-in-the-blue-ocean.jpg'); */
		background-color: black;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		margin: 0px 0px 0px 0px;
		border-style: none;
		background-repeat: no-repeat;
	}

	.embedded-prezi {
		width: 80%;
		height: 80%;
		padding: 5% 0% 5% 0%;
		margin: 0% 10% 0% 10%;
		display: none;
	}

	



	#preziDiv2 {
		display: none;
		margin: 35% 0% 0% 0%;
		width: 100%;
		height: 100%;
		background-color: black;
		/* background-image: url('mediaFolder/big-fish-in-the-blue-ocean.jpg'); */
	}
	
	#elevatorDiv2 {
		display: none;
		/*top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		 z-index: -1; 
		background-color: white;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;*/
	}

	.elevatorPitch2 {
		margin: 0%;
		padding: 0%;
		display: none;
	}

	#elevatorDivMobile {
		display: block;
		background-color: white;
		overflow-y: hidden;
	}

	.desktop {
		display: none;
	}
}


																									/* 768px 
@media (min-width: 768px) {
  
}*/
																									/* 568px 
@media (min-width: 568px) {
  .louis {
    color: green;
  }
}
*/




																									/* 320px */
@media (max-width: 590px) {

	body {
		width: 100%;
	}

	#toolsTrigger {
		display: none;
	}

	#iconTrigger1 {
		display: none;
	}

	#synerginTrigger {
		display: none;
	}

	#elevatorTriggerWidth{
		display: none;
	}

	#elevatorTriggerHeight{
		display: none;
	}

	#elevatorTriggerContent{
		display: none;
	}

	#changeFixedpicTrigger {
		display: none;
	}

	#changeIndesignTrigger {
		display: none;
	}

	#galleryDivMarginTrigger {
		display: none;
		/* margin-top: 250%;  3100px; */
	}
	
	#synerginFixedPic {
		display: none
	}
																									/* 320px */
	#micaCaption {
		display: none;
	}

	#synMobile {
		width: 100%;
		height: 100%;
		display: block;
		z-index: -1;
		overflow-x: hidden;
		top: 0px;
		left: 0px;
		margin: 0px 0px 0px 0px;
		padding: 0px;
		position: fixed;
	}

	.syn-caption {
		color: white;
		margin: 0% 0% 0% 0%;
		width: 100%;	
		height: auto;
		text-align: center;
		background-color: black;
		font-size: 1.3em;
		z-index: -1;
		position: absolute;
		opacity: 1;	
	}

	.syn-mobile {
		width: 100%;
		height: 60%;
	}

	.landing-div {
		width: 100%;
	}

	.mw-name {
		width: 100%;
		font-size: 2.2em;
		padding: 0% 0% 0% 0%;
		margin: 0px 0% 0% 0%;
	}

	.job-title {
		font-size: 0.8em;
		margin: 5px 23% 15px 23%;
	}

	.mw-intro {
		font-size: 1.15em;
		margin: 1% 10% 2% 10%;
		padding: 0% 0px 0% 0px;
	}

	.javascript-logo {
		width: 11.3%;
		display: inline-block;
		height: 0.8%;
		margin: 0px 1% 1% 32%;	
		float: left;
	}
/*
	.html-logo {
		display: inline-block;
		width: 9.5%;
		float: left;
		margin: 0px 1% 3% 1%;
		opacity: 1;
	}

	.css-logo {
		display: inline-block;
		width: 9.5%;
		float: left;
		margin: 0px 25% 3% 1.5%;	
		opacity: 1;
	}	
*/																									/* 320px */
	.button-container {
		width: 90%;
		margin: 2% 5% 0% 5%;
		padding-bottom: 2%;
	}

	.git-button {
		display: block;
		width: 80%;
		margin: 0% 10% 4.5% 10%;
		padding: 0% 0% 0% 0%;
	}

	.portfolio-button {
		display: block;
		width: 80%;
		margin: 0% 10% 4.5% 10%;
		padding: 0% 0% 0% 0%;
	}

	.button-container > span > a {
		width: 78%;
	}

	.linkedin-button {
		display: block;
		width: 80%;
		margin: 0% 10% 4.5% 10%;
		padding: 0% 0% 0% 0%;
	}

	.tools-proficiencies {
		background-color: black;
	}

	.tools-header {
		font-size: 1.2em;
	}
																									/* 320px */
	.tools-list > p {
		margin: 15px 0 15px auto;
		font-size: 1.0em;
	}

	#leftIcons {
		width: 36%;
		/* height: 100%; */
		margin: 0% 0% 0% 0%;
		padding-top: 10%;
		position: relative;	
		top: 0%;
		float: left;
		display: inline-block;
		opacity: 1;
	}

	#rightIcons {
		width: 36%;
		margin: 0% 0% 0% 0%;
		padding-top: 10%;
		position: relative;	
		top: 0%;
		float: right;
		display: inline-block;
		opacity: 1;
	}
																									/* 320px */
/*
	#micaCaption {
		float: right;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 20%;
		display: block;
		color: white;
		width: 100%;
		height: auto;
		background-color: black;
		opacity: 1;
		font-size: 2em;
		z-index: -1;
		position: absolute;
	}
*/

	#ngwp {
		margin: 0% 0% 0% 0%; 
		-webkit-margin-after: 0.02%;
		font-size: 1.3em;
	}

	#ngwpsub {
		font-size: 0.7em; 
		font-style: italic; 
		margin: 0% 0% 1.55% 0%;
	}

	#elevatorDiv { 
		width: 100%; 
		margin: 800px 0px 0px 0px;
		height: 100%;
	}

	.elevatorPitch {
		width: 100%;
		height: auto;
	}

	.elevator-pic1 {
		display: block;
	    width: 70%;
	    margin: 2% 15% 2% 15%;
	    border-style: solid;
	}

	.elevator-pic2 {
		display: block;
	    width: 70%;
	    margin: 2% 15% 2% 15%;
	    border-style: solid;
	}

	.elevator-pic3 {
		display: block;
	    width: 70%;
	    margin: 2% 15% 2% 15%;
	    border-style: solid;
	}
																									/* 320px */
	.elevator-title {
		display: block;
		margin: 1% 0% 2% 0%;
		padding: 0% auto 0% auto;
		font-size: 1.4em;
		width: 100%;
	}
         
	.elevator-text {
	    display: block;
	    font-size: 1.2em;
	    width: 80%;
	    height: auto;
	    margin: 0% 0% 7% 0%;
	    padding: 0% 10% 0% 10%;
	}

	#preziDiv {
		display: none;
	}

	.embedded-prezi {
		display: none;
	}

	#elevatorDivMobile {
		display: block;
		background-color: white;
	}

	#portfolioDiv {
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}

	.desktop {
		display: none;
	}

}
