



/* =================================================================================================================*/

																		/* 	2880 x 1800 Your Macbook Pro 15'
																			2800 x 1920 Desktop | 3:2
																		*/


/* =================================================================================================================*/



/* =================================================================================================================*/



/* =================================================================================================================*/



/* =================================================================================================================*/

																				/* 1920px*/


@media screen and (max-width: 2900px) {


	body {
		margin: 0%;	
		padding: 0%;
		font-family: 'Alegreya Sans', sans-serif;
	/*	overflow-x: hidden; */
	}

	#toolsTrigger {
		display: none;
		margin-top: 57.885%;
	}

	#iconTrigger1 {
		display: none;
		margin-top: 64%;
	}

	#toolListTrigger {
		margin-top: 70%;
		display: block;
	}

	#portfolioTrigger {
		margin-top: 150%;
		display: block;		
	}

	#synerginTrigger {
		margin-top: 246%; 
	}

	#galleryDivMarginTrigger {
		margin-top: 285%; 
	}

	#elevatorTriggerHeight{
		margin-top: 256%;
	}
																									/* 1920px */
	#elevatorTriggerContent{
		margin-top: 266%;
	}

	#changeIndesignTrigger {
		margin-top: 270%;
	}

	#changeFixedpicTrigger {
		margin-top: 325%;
	}

	.trigger-class {
		position: absolute;
		z-index: -2;
		width: 60px;
		height: 20px;
		font-size: 6px;
		background-color: orange;
	}
																									/* 1920px */	
	#synerginFixedPic {
		display: block;
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('../mediaFolder/indexRemakeMedia/teamusa1366.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
		/*top: 0%;
		left: 0px;*/
	}

	#teamCaption {
		width: 100%;	
		height: auto;
		z-index: -1;
		position: absolute;
		opacity: 1;
		display: block;
		padding: 0% 0% 0% 0%;
		margin: 0% 0% 0% 0%;
		text-align: center;
		font-size: 2.7em;
		background-color: black;
		color: #ffffff;
	}

	#micaCaption {
		float: right;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 70%;
		width: 100%;
		height: auto;
		opacity: 1;
		z-index: -1;
		position: absolute;
		display: block;
		font-size: 3.2em;
		background-color: black;
		color: white;
	}
																									/* 1920px */
	.mobile-syn-pic {
		display: none;

	}

	.landing-div {
		width: 100%;
		height: auto;
		margin: 0% 0% 0% 0%;
		display: block;
		background-image: url('../mediaFolder/indexRemakeMedia/micaBWarubaSFW.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;

	}
																									/* 1920px */	
	.mw-name {
		width: 100%;
		padding: 1% 0% 0% 0%;
		margin: 0% 0% 0% 0%;
		display: block;
		font-size: 5.8em;
		text-align: center;
		font-family: 'Alegreya Sans', sans-serif;
		color: white;
	}

	.job-title {
		font-size: 1.2em;
		margin: 5px 23% 15px 23%;
		display: block;
		text-align: center;
		font-style: italic;
		font-family: 'Alegreya Sans', sans-serif;
		color: white;
	}
																									/* 1920px */
	#javascriptLogo {
		float: left;
		width: 5.0%;
		height: 108px;
		margin: 0% 1.2% 0% 40.75%;	
		opacity: 1;
		display: inline-block;
		background-image: url('../mediaFolder/indexRemakeMedia/javascriptLogo.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	#htmlLogo {
		float: left;
		width: 4.5%;
		height: 108px;
		opacity: 1;
		display: inline-block;
		margin: 0% 1% 0% 1%;
		background-image: url('../mediaFolder/indexRemakeMedia/htmlLogo.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}
																									/* 1920px */
	#cssLogo {
		float: left;
		width: 4.5%;
		height: 108px;
		margin: 0% 24% 0% 1.5%;
		opacity: 1;
		display: inline-block;
		background-image: url('../mediaFolder/indexRemakeMedia/cssLogo.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.mw-intro {
		width: 35%;
		margin: 0% 32.5% 0.5% 32.5%;
		padding: 0% 0% 0% 0%;
		display: none;
		font-size: 1.5em;
		text-align: center;
		color: #A71616;
	}
																									/* 1920px */
	.button-container {
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		display: block;
	}

	.git-button {
		float: left;
		clear: left;
		width: 12%;
		height: 37px;
		margin: 3% 0% 0% 29.95%;
		padding: 0%;
		display: block;
		font-size: 1.5em;
		text-align: center;
	}

	.portfolio-button {
		float: left;
		width: 12%;
		height: auto;	
		margin: 3% 2% 0% 2%;
		padding: 0% 0% 0% 0%;
		display: inline-block;
		text-align: center;
	}

	.portfolio-button > a {
		width: 100%; 
		height: 37px;
		padding: 0% 0% 0% 0%;
		font-size: 1.5em;
		text-align: center;
	}
																									/* 1920px */
	.linkedin-button {
		float: left;
		width: 12%;
		height: 37px;
		margin: 3% 0% 0% 0%;
		padding: 0%;
		display: inline-block;
		font-size: 1.5em;
		text-align: center;
	}

	#scrollArrow {
		width: 3%;
		margin: 2% 40% 2% 48.8%;
	}

	.tools-proficiencies {
		width: 100%;
		margin: 0%;
		position: absolute;
		text-align: center;
		color: white;
		background-color: black;
	}
																									/* 1920px */
	.tools-header {
		width: 100%; 
		margin: 0% 0% 0% 0%;
		padding-top: 2%; 
		text-align: center; 
		font-size: 4.3em;
	}

	.tools-list {
		width: 33%;
		padding-top: 7%;
		display: inline-block;
		font-size: 2.1em
	}

	.tools-list > a {
		width: 100%;
		margin: 4% 0% 4% 0%;
		display: block;
		font-size: 1.3em;
		text-decoration: none;
		color: #ffffff;
	}

	.tool-name {
		color: #ffffff;
	}
																									/* 1920px */
	#leftIcons {
		width: 33%;
		height: 75%;
		max-height: 75%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		position: relative;
		top: 0%;
		float: left;
		display: inline-block;
		opacity: 1;
		background-image: url('../mediaFolder/indexRemakeMedia/left-icons.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	#rightIcons {
		width: 32%;
		height: 75%; /* 82%; */
		max-height: 75%; /* 90%; */
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		position: relative;
		top: 0%;
		float: right;
		display: inline-block;
		opacity: 1;
		background-image: url('../mediaFolder/indexRemakeMedia/right-icons.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;/*82%;*/
	}
																									/* 1920px */
	#ngwp {
		width: 100%; 
		margin: 0% 0% 1% 0%;
		-webkit-margin-after: 1%; /*0.02%;*/
		display: block;
		font-size: 1.35em;
		color: white;
	}

	#ngwpsub {
		width: 100%;
		margin: 0% 0% 0% 0%;
		display: block;
		color: white;
		font-size: 0.7em; 
		font-style: italic; 
	}

	#portfolioDiv {
		width:100%; 
		background-color: #000000;
	}

	#ptdiv {
		width: 100%;
		height: 150px;
		display: inline-block;
		/*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.21, #FF681C),color-stop(1, #FF9D00));
		background-image: -o-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);
		background-image: -moz-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);background-image: -webkit-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);
		background-image: -ms-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);background-image: linear-gradient(to bottom, #FF681C 21%, #FF9D00 100%);
		*/
		background-color: #000000;
	}

	#portfoliotitle {
		width: 100%;
		height: 150px;
		margin: 0%; 
		padding: 4% 0% 4% 0%;
		display: inline-block;
		text-align: center; 
		font-size: 4.3em;
		color: -webkit-gradient(linear,left top,left bottom,color-stop(0.21, #FF681C),color-stop(1, #FF9D00));
		color: -o-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);
		color: -moz-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);color: -webkit-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);
		color: -ms-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);color: linear-gradient(to bottom, #FF681C 21%, #FF9D00 100%);
	}

	#elevatorDiv { 
		width: 100%; 
		height: 100%;
		margin: 207% 0% 0% 0%;
		position: relative;
		background-color: #ffffff;
	}

	.elevator-div { 
		width: 100%; 
		height: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		background-color: white;
	}
																									/* 1920px */	
	.elevatorPitch {
		width: 100%;
		height: auto;
		margin: 0%;
		padding: 0%;
		display: inline-block;
	}

	.br {
		display: block;
	}

	.elevator-third {
		width: 33%;
		padding-top: 3%;
		display: inline-block;
	}

	.elevator-pic {
	    width: 70%;
	    margin: 2% 15% 2% 15%;
		display: block;
		border-style: none;
		background-color:#cccccc;
	}

	.elevator-title {
		width: 100%;
		margin: 1% 0% 2% 0%;
		padding: 0% 0% 0% 0%;
		display: block;
		text-align: center;
		font-size: 1.9em;
	}
																									/* 1920px */
	.elevator-text {
	    width: 78.1%;
	    height: auto;
	    margin: 0% 0% 7% 0%;
	    padding: 0% 10% 0% 10%;
	    display: block;
		text-align: center;
	    font-size: 1.3em;
	}
																									/* 1920px */
	.prezi-div {
		width: 100%;
		height: 100%;
		margin-top: 0%;	
		padding: 0%;
		display: block;
		background-image: url('../mediaFolder/indexRemakeMedia/big-fish-in-the-blue-ocean1366.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
	}
    
	.embedded-prezi {
		width: 90%;
		height: 90%;
		padding: 3% 5% 3% 5%;
		margin: 0% 0% 0% 0%;
		display: block;
	}
																									/* 1920px */
	.ep-trello {
		height: 245px;	
		background-image: url('../mediaFolder/indexRemakeMedia/trello1366.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.ep-mica-gamma {
		height: 215px;
		background-image: url('../mediaFolder/indexRemakeMedia/micaArubaSFW.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.ep-html-wordpress {
		height: 234px;
		background-image: url('../mediaFolder/indexRemakeMedia/drawcircles.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		border-style: none;
		border-color: #000099;
	}

	.skype-button {
		width: 97.33%;
		margin: 19.38% 0% 0% 0%;
		display: block;
		line-height: 70px;
		opacity: 0.5;
		font-size: 1.5em;
		text-align: center;
		background-color: #000000;
	}

	.skype-button > a {
		width: 100%;
		height: 70px;
		margin: 0% 0% 0% 0%;
		display: block;
		line-height: 70px;
		font-size: 1.1em;
		background-color: #000000;
	}

	.skype-button > ul {
		width: 100%;
		font-size: 1.1em;
	}

	.skype-button > ul > li {
		width: 100%;
		padding-left: 2%;
		font-size: 1.1em;
		text-align: left;
	}

	#wowslider-container1 {
		width: 100%;
		background-color: #000000;
	/*	display: block;
		position: absolute;
		z-index: 1; */
	}

	.ws_thumbs {
		background-color: #000000;
	/*	width: 100%; */
	}

	.ws_title {
		font-size: 2em;
	}

	.ws-title-wrapper {
		font-size: 2em;
	}

	.ws_title > span {
		font-size: 2em;
	}

	.ws_title > div {
		font-size: 2em;
	}
}
	/* Previously used CSS but removed 


	.ep-photoshop {
		height: 252px;
		background-image: url('../mediaFolder/indexRemakeMedia/photoshop_mica.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.ep-prezi {
		height: 254px;	
		background-image: url('../mediaFolder/indexRemakeMedia/cube_prezi.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	#indesignBrochure {
		width: 70%;
		height: 254px;
		display: block;
		background-image: url('../mediaFolder/indexRemakeMedia/indesign_elevator.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	#galleryDiv {
		width: 70%;
		padding: 0% 15% 0% 15%;
		margin: 0% 0% 0% 0%;
		background-color: black;
	}

	*/







































/* =================================================================================================================*/




																				/* 1680 x 1050px */


@media screen and (max-width: 1680px) {



	#iconTrigger1 {
		margin-top: 64%;
	}

	#synerginTrigger {
	}

	#galleryDivMarginTrigger {
		margin-top: 297%;
	}

	#elevatorTriggerHeight{
		margin-top: 264%;
	}
																				/* 1680 x 1050px */
	#elevatorTriggerContent{
		margin-top: 269%;
	}

	#changeIndesignTrigger {
		margin-top: 279%;
	}

	#changeFixedpicTrigger {
		margin-top: none;
	}
	
	#synerginFixedPic {
		top: 0%;
		background-color: #000000;
	}
																				/* 1680 x 1050px */
	#teamCaption {
	
	}

	#micaCaption {
	}

	.mobile-syn-pic {
	}

	.landing-div {
	}
																				/* 1680 x 1050px */
	.mw-name {
		
	}

	.job-title {
		
	}
																				/* 1680 x 1050px */
	#javascriptLogo {
		height: 82px;
	}

	#htmlLogo {
		height: 86px;
	}
																				/* 1680 x 1050px */
	#cssLogo {
		height: 86px;
	}

	.mw-intro {
		
	}
																				/* 1680 x 1050px */
	.button-container {
		
	}

	.git-button {
		margin: 2% 0% 0% 30.05%;
	}

	.portfolio-button {
		margin-top: 2%;
	}

	.button-container > span {
		
	}

	.button-container > span > a {

	}
																				/* 1680 x 1050px */
	.linkedin-button {
		margin-top: 2%;
	}

	#scrollArrow {
		margin: 2% 40% 2% 48.6%;
	}

	.tools-proficiencies {
		height: 1400px;
	}
																				/* 1680 x 1050px */
	.tools-header {
		
	}

	.tools-list {
		
	}
																				/* 1680 x 1050px */
	#leftIcons {
		height: 100%;
		max-height: 100%;
	}

	#rightIcons {
		height: 100%;
		max-height: 100%;
	}
																				/* 1680 x 1050px */
	#ngwp {
		
	}

	#ngwpsub {
		
	}

	#elevatorDiv { 
		
	}

	.elevator-div { 
		
	}
																				/* 1680 x 1050px */
	.elevatorPitch {

	}

	.br {

	}

	.elevator-third {
		
	}

	.elevator-pic {
		
	}

	.elevator-title {

	}
																				/* 1680 x 1050px */
	.elevator-text {
	    font-size: 1.5em;
	    width: 80%;
	}

	#portfolioDiv {

	}

	#ptdiv {

	}

	#portfoliotitle {

	}
																				/* 1680 x 1050px */
	.prezi-div {

	}

	.embedded-prezi {

	}
																				/* 1680 x 1050px */
	.ep-trello {
		height: 191px;	
	}

	.ep-mica-gamma {
		height: 191px;
	}

	.ep-html-wordpress {
		height: 151px;
		padding-bottom: 40px;
	}

	.skype-button {
		margin-top: 17.4%;
		width: 97%;
	}

	.skype-button > a {
		height: 70px;
	}

	.skype-button > ul {
		font-size: 1.1em;
	}

	.skype-button > ul > li {
		font-size: 1.1em;
	}

	#wowslider-container1 {

	}
																					/* 1680 x 1050px */

}







































/* =================================================================================================================*/




																				/* 1600x900px*/


@media screen and (max-width: 1600px) {

	#toolsTrigger {

	}

	#iconTrigger1 {

	}

	#synerginTrigger {

	}

	#galleryDivMarginTrigger {

	}

	#elevatorTriggerHeight{

	}
																									/* 1600px */
	#elevatorTriggerContent{
	}

	#changeIndesignTrigger {

	}

	#changeFixedpicTrigger {

	}

	.trigger-class {

	}
																									/* 1600px */	
	#synerginFixedPic {
	
	}

	#teamCaption {

	}

	#micaCaption {

	}
																									/* 1600px */
	.mobile-syn-pic {

	}

	.landing-div {

	}
																									/* 1600px */	
	.mw-name {

	}

	.job-title {

	}
																									/* 1600px */
	#javascriptLogo {

	}

	#htmlLogo {

	}
																									/* 1600px */
	#cssLogo {

	}

	.mw-intro {

	}
																									/* 1600px */
	.button-container {

	}

	.git-button {

	}

	.portfolio-button {

	}

	.button-container > span {

	}

	.button-container > span > a {

	}
																									/* 1600px */
	.linkedin-button {

	}

	#scrollArrow {

	}

	.tools-proficiencies {

	}
																									/* 1600px */
	.tools-header {

	}

	.tools-list {

	}

	.tools-list > p {

	}
																									/* 1600px */
	#leftIcons {

	}

	#rightIcons {

	}
																									/* 1600px */
	#ngwp {

	}

	#ngwpsub {

	}

	#elevatorDiv { 

	}

	.elevator-div { 

	}
																									/* 1600px */	
	.elevatorPitch {

	}

	.br {

	}

	.elevator-third {

	}

	.elevator-pic {

	}

	.ep-photoshop {

	}
																									/* 1600px */
	.ep-prezi {

	}

	#indesignBrochure {

	}

	.elevator-title {

	}
																									/* 1600px */
	.elevator-text {

	}

	#portfolioDiv {

	}
	
	#ptdiv {

	}

	#portfoliotitle {

	}
	
	#galleryDiv {

	}
																									/* 1600px */
	.prezi-div {

	}

	.embedded-prezi {

	}
																									/* 1600px */
	.ep-trello {

	}

	.ep-mica-gamma {

	}

	.ep-html-wordpress {

	}

	.skype-button {
		width: 96.8%;
	}

	.skype-button > a {
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	}

	#wowslider-container1 {
	}
}
































/* =================================================================================================================*/




																				/* 1440px */


@media screen and (max-width: 1440px) {

	#toolsTrigger {
		margin-top: 57.885%; /* 800px */
	}

	#iconTrigger1 {
		margin-top: 64%; /* 900px; */
	}

	#synerginTrigger {

	}

	#galleryDivMarginTrigger {
		margin-top: 289%; /* 3100px; */
	}

	#elevatorTriggerHeight{
		margin-top: 265%;
	}
																				/* 1440px */
	#elevatorTriggerContent{
		margin-top: 270%;
	}

	#changeIndesignTrigger {
		margin-top: 286%;
	}

	#changeFixedpicTrigger {
		margin-top: 325%;
	}

	#toolsTrigger {

	}

	#iconTrigger1 {

	}

	#synerginTrigger {

	}

	#galleryDivMarginTrigger {

	}

	#elevatorTriggerHeight{

	}
																				/* 1440px */
	#elevatorTriggerContent{
	}

	#changeIndesignTrigger {

	}

	#changeFixedpicTrigger {

	}

	.trigger-class {

	}
																				/* 1440px */
	#synerginFixedPic {
	
	}

	#teamCaption {

	}

	#micaCaption {

	}
																				/* 1440px */
	.mobile-syn-pic {

	}

	.landing-div {

	}
																				/* 1440px */
	.mw-name {

	}

	.job-title {

	}
																				/* 1440px */
	#javascriptLogo {

	}

	#htmlLogo {

	}
																				/* 1440px */
	#cssLogo {

	}

	.mw-intro {

	}
																				/* 1440px */
	.button-container {

	}

	.git-button {

	}

	.portfolio-button {

	}

	.button-container > span {

	}

	.button-container > span > a {

	}
																				/* 1440px */
	.linkedin-button {

	}

	#scrollArrow {

	}

	.tools-proficiencies {

	}
																				/* 1440px */
	.tools-header {

	}

	.tools-list {

	}

	.tools-list > p {

	}
																				/* 1440px */
	#leftIcons {

	}

	#rightIcons {

	}
																				/* 1440px */
	#ngwp {

	}

	#ngwpsub {

	}

	#elevatorDiv { 

	}

	.elevator-div { 

	}
																				/* 1440px */
	.elevatorPitch {

	}

	.br {

	}

	.elevator-third {

	}

	.elevator-pic {

	}

	.ep-photoshop {
		height: 189px;
	}
																				/* 1440px */
	.ep-prezi {
		height: 189px;
	}

	#indesignBrochure {
		height: 189px;
	}

	.elevator-title {

	}
																				/* 1440px */
	.elevator-text {

	}

	#portfolioDiv {

	}

	#portfoliotitle {

	}

	#galleryDiv {

	}
																				/* 1440px */
	.prezi-div {

	}

	.embedded-prezi {

	}
																				/* 1440px */
	.ep-trello {
		height: 163px;
	}

	.ep-mica-gamma {
		height: 163px;
	}

	.ep-html-wordpress {
		height: 163px;
		padding-bottom: 0%;
	}

	.skype-button {
	/*	margin: 57.65% 0% 0% 0%; */
		width: 96.5%;
	}

	.skype-button > a {
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	}

	#wowslider-container1 {

	}
}



































/* =================================================================================================================*/



																				/* 1366 x 768 */
																				/* 1360 x 768 */

@media screen and (max-width: 1366px) { 

	#toolsTrigger {
		margin-top: 57.885%; /* 800px */
	}

	#iconTrigger1 {
		margin-top: 64%; /* 900px; */
	}

	#synerginTrigger {
		margin-top: 235%; /* 2900px; */
	}

	#galleryDivMarginTrigger {
		margin-top: 295%; /* 3100px; */
	}

	#elevatorTriggerHeight{
		margin-top: 275%;
	}
																									/* 1366 px */
	#elevatorTriggerContent{
		margin-top: 283%;
	}

	#changeIndesignTrigger {
		margin-top: 287.5%;
	}

	#changeFixedpicTrigger {
		margin-top: 325%;
	}

	#toolsTrigger {

	}

	#iconTrigger1 {

	}

	#synerginTrigger {

	}

	#galleryDivMarginTrigger {

	}

	#elevatorTriggerHeight{

	}
																				/* 1366px */
	#elevatorTriggerContent{
	}

	#changeIndesignTrigger {

	}

	#changeFixedpicTrigger {

	}

	.trigger-class {

	}
																				/* 1366px */
	#synerginFixedPic {
	
	}

	#teamCaption {
		opacity: 0.6;
	}

	#micaCaption {

	}
																				/* 1366px */
	.mobile-syn-pic {

	}

	.landing-div {

	}
																				/* 1366px */
	.mw-name {

	}

	.job-title {

	}
																				/* 1366px */
	#javascriptLogo {

	}

	#htmlLogo {

	}
																				/* 1366px */
	#cssLogo {

	}

	.mw-intro {

	}
																				/* 1366px */
	.button-container {

	}

	.git-button {
		margin-top: 0.5%
	}

	.portfolio-button {
		margin-top: 0.5%
	}

	.button-container > span {

	}

	.button-container > span > a {

	}
																				/* 1366px */
	.linkedin-button {
		margin-top: 0.5%
	}

	#scrollArrow {

	}

	.tools-proficiencies {

	}
																				/* 1366px */
	.tools-header {

	}

	.tools-list {

	}

	.tools-list > a {

	}
																				/* 1366px */
	#leftIcons {

	}

	#rightIcons {

	}
																				/* 1366px */
	#ngwp {
		font-size: 1.2em;
	}

	#ngwpsub {

	}

	#elevatorDiv { 

	}

	.elevator-div { 

	}
																				/* 1366px */
	.elevatorPitch {

	}

	.br {

	}
																				/* 1366px */

	.elevator-third {

	}

	.elevator-pic {
		height: 179px;
	}
	.elevator-title {

	}
																				/* 1366px */
	.elevator-text {
		font-size: 1.2em;
	}

	#portfolioDiv {

	}

	#ptdiv {

	}

	#portfoliotitle {

	}

	#galleryDiv {

	}
																				/* 1366px */
	.prezi-div {

	}

	.embedded-prezi {

	}
																				/* 1366px */
	.ep-trello {
		height: 155px;
	}

	.ep-mica-gamma {
		height: 155px;
	}

	.ep-html-wordpress {
		height: 155px;
	}

	.skype-button {
	/*	margin: 51.15% 0% 0% 0%; */
		width: 96.2%;
	}

	.skype-button > a {
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	
	}

	#wowslider-container1 {
	}
}
































/* =================================================================================================================*/



																		/*  1280 

																			1280 x 800   Desktop / 13" Notebook
																			1280 x 800   Google Nexus 10 Landscape 
																			1280 x 800   Samsung Galaxy Tab 7.7/8.9/10.1 Landscape 
																			1280 x 720	 Motorola Droid Razr HD Landscape 
																			1280 x 800	 Motorola Xoom/Xyboard Landscape 

																		*/

@media screen and (max-width: 1280px) {

	#toolsTrigger {
		margin-top: 57.885%;
	}

	#iconTrigger1 {
		margin-top: 64%;
	}

	#synerginTrigger {
		margin-top: 250%; 
	}

	#galleryDivMarginTrigger {
		margin-top: 285%; 
	}

	#elevatorTriggerHeight{
		margin-top: 274.5%;
	}
																									/* 1280 px */
	#elevatorTriggerContent{
		margin-top: 283%;
	}

	#changeIndesignTrigger {
		margin-top: 299%;
	}

	#changeFixedpicTrigger {
		margin-top: 325%;
	}

	.trigger-class {

	}

	#synerginFixedPic {

	}

	#teamCaption {
		font-size: 1.7em;
	}
																									/* 1280 px */
	#micaCaption {

	}

	.mobile-syn-pic {

	}

	.landing-div {

	}
																									/* 1280 px */
	.mw-name {

	}

	.job-title {

	}
																									/* 1280 px */
	#javascriptLogo {

	}

	#htmlLogo {

	}
																									/* 1280 px */
	#cssLogo {

	}

	.mw-intro {

	}
																									/* 1280 px */
	.button-container {

	}
																									/* 1280 px */
	.git-button {

	}

	.portfolio-button {

	}

	.button-container > span {

	}

	.button-container > span > a {
		
	}
																									/* 1280 px */
	.linkedin-button {

	}

	#scrollArrow {

	}

	.tools-proficiencies {

	}
																									/* 1280 px */
	.tools-header {

	}

	.tools-list {

	}

	.tools-list > a {

	}
																									/* 1280 px */
	#leftIcons {

	}

	#rightIcons {

	}

	#ngwp {
		font-size: 1.1em; 
	}
																									/* 1280 px */
	#ngwpsub {

	}

	#elevatorDiv { 

	}

	.elevator-div { 

	}
																									/* 1280 px */
	.elevatorPitch {

	}

	.br {

	}

	.elevator-third {

	}

	.elevator-pic {

	}
																									/* 1280 px */
	.elevator-title {

	}
																									/* 1280 px */
	.elevator-text {

	}

	#portfolioDiv {

	}

	#ptdiv {

	}

	#portfoliotitle {

	}

	#galleryDiv {
	}
																									/* 1280 px */
	.prezi-div {
	}

	.embedded-prezi {

	}
	.ep-trello {
		height: 183px;	
	}

	.ep-mica-gamma {
		height: 178px;
		background-color: #000000;
	}
																									/* 1280 px */
	.ep-html-wordpress {
		height: 178px;
	}

	.skype-button {
	/*	margin: 51.85% 0% 0% 0%; */
		width: 96%;
	}

	.skype-button > a {

	}

	.skype-button > ul {

	}

	.skype-button > ul > li {
	
	}

	#wowslider-container1 {

	}
																										/* 1280 px */
}

































/* =================================================================================================================*/


																			/* 1024 x 768 	iPad 3/4 Landscape */
																			/* 1024 x 600	Samsung Galaxy Tab Landscape */
																			/* 1024 x 600	Amazon Kindle Fire 1st Gen Landscape */
																			/* 1024 x 600	Blackberry Playbook Landscape */

@media all and (max-width: 1030px) {
 

	#toolsTrigger {
		display: none;
	}

	#iconTrigger1 {
		display: none;
	}
																										/* 1024px */
	#toolListTrigger {
		display: none;
	}

	#portfolioTrigger {
		display: none;
	}

	#synerginTrigger {
		display: none;
	}

	#elevatorTriggerHeight{
		display: none;
	}

	#elevatorTriggerContent{
		display: none;
	}
	
	#galleryDivMarginTrigger {
		display: none;
	}
																											/* 1024px */
	#changeIndesignTrigger {
		display: none;
	}

	#changeFixedpicTrigger {
		display: none;
	}

	.trigger-class {
		display: none;
	}
	
	#synerginFixedPic {
		display: block;
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('../mediaFolder/indexRemakeMedia/teamusa1366.jpg');
		background-repeat: no-repeat;
		background-size: 100%;

	}

	.mobile-syn-pic {
		display: none;
	}

	#teamCaption {
		margin: 26% 0% 0% 0%;
		font-size: 1.5em;
	}
																										/* 1024px */
	#micaCaption {
		display: none;		
	}

	.landing-div {

	}
																										/* 1024px */
	.mw-name {
		font-size: 3.2em;
	}

	.job-title {

	}
																										/* 1024px */
	#javascriptLogo {
		height: 57px;
	}

	#htmlLogo {
		height: 57px;
	}
																										/* 1024px */
	#cssLogo {
		height: 57px;
	}

	.mw-intro {

	}
																										/* 1024px */
	.button-container {

	}
																										/* 1024px */
	.git-button {
		font-size: 1em;
		height: 29px;
	}

	.portfolio-button {
		font-size: 1em;
		height: 29px;
	}

	.portfolio-button > a {
		font-size: 1em;
		height: 29px;		
	}

	.button-container > span {

	}

	.button-container > span > a {
	
	}
																										/* 1024px */
	.linkedin-button {
		font-size: 1em;
		height: 29px;
	}

	#scrollArrow {

	}

	.tools-proficiencies {
		height: 1450px;
	}
																										/* 1024px */
	.tools-header {

	}

	.tools-list {

	}

	.tools-list > a {
		font-size: 0.95em;
	}
																										/* 1024px */
	#leftIcons {
		height: 65%;
		max-height: 65%; 
	}

	#rightIcons {
		height: 65%;
		max-height: 65%; 
	}
																										/* 1024px */
	#ngwp {

	}

	#ngwpsub {

	}

	#elevatorDiv { 
		margin: 260% 0% 0% 0%;
	}
																										/* 1024px */
	.elevator-div { 

	}

	.elevatorPitch {

	}
																										/* 1024px */
	.br {

	}

	.elevator-third {

	}
																										/* 1024px */
	.elevator-pic {

	}

	.elevator-title {
		font-size: 1.4em;
	}
	         																							/* 1024px */
	.elevator-text {
		font-size: 1.1em;
		width: 82%;
	}

	#portfolioDiv {

	}

	#ptdiv {

	}

	#portfoliotitle {

	}
																										/* 1024px */
	#galleryDiv {

	}

	.prezi-div {

	}
																										/* 1024px */
	.embedded-prezi {

	}

	.ep-trello {
		height: 145px;	
	}

	.ep-mica-gamma {
		height: 146px;
	}
																										/* 1024px */
	.ep-html-wordpress {
		height: 145px;
	}

	.skype-button {
		width: 94.7%;
	}

	.skype-button > a {

	}

	.skype-button > ul {

	}

	.skype-button > ul > li {

	}

	#wowslider-container1 {

	}
}																										/* 1024px */










 	
















/* =================================================================================================================*/

																			/* 966 x 604 	Google Nexus 7 Landscape */ 																			/* 960 x 600 	Google Nexus 7.2 Landscape */ 
																			/* 960 x 600 	Google Nexus 7.2 Landscape */ 
																			/* 960 x 540 	Samsung Note 3 Landscape */
																			/* 960 x 540	Motorola Droid 3/4/Razr/Atrix 4G/2 */


@media screen and (max-width: 966px) {

	#toolsTrigger {

	}

	#iconTrigger1 {

	}

	#synerginTrigger {

	}

	#galleryDivMarginTrigger {

	}

	#elevatorTriggerHeight{

	}

	#elevatorTriggerContent{

	}

	#changeIndesignTrigger {

	}

	#changeFixedpicTrigger {

	}

	#toolsTrigger {

	}

	#iconTrigger1 {

	}

	#synerginFixedPic {
	
	}

	#teamCaption {

	}

	#micaCaption {

	}

	.mobile-syn-pic {

	}

	.landing-div {

	}

	.mw-name {

	}

	.job-title {

	}

	#javascriptLogo {

	}
																							/* 960 x 540 */
	#htmlLogo {

	}

	#cssLogo {

	}

	.mw-intro {

	}

	.button-container {

	}

	.git-button {

	}

	.portfolio-button {

	}

	.button-container > span {

	}

	.button-container > span > a {

	}

	.linkedin-button {

	}

	#scrollArrow {

	}

	.tools-proficiencies {

	}

	.tools-header {

	}

	.tools-list {

	}

	.tools-list > p {

	}

	#leftIcons {

	}

	#rightIcons {

	}

	#ngwp {

	}

	#ngwpsub {

	}

	#elevatorDiv { 

	}

	.elevator-div { 

	}

	.elevatorPitch {

	}

	.br {

	}

	.elevator-third {

	}

	.elevator-pic {

	}

	.ep-photoshop {

	}

	.ep-prezi {

	}

	#indesignBrochure {

	}

	.elevator-title {

	}

	.elevator-text {

	}

	#portfolioDiv {

	}

	#ptdiv {

	}

	#portfoliotitle {

	}

	#galleryDiv {

	}

	.prezi-div {

	}

	.embedded-prezi {

	}
																								/* 960 x 540 */
	.ep-trello {

	}

	.ep-mica-gamma {

	}

	.ep-html-wordpress {

	}

	.skype-button {
		width: 94.6%;
	/*	margin: 51.15% 0% 0% 0%; */
	}

	.skype-button > a {
		font-size: 0.9em;
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	
	}

	#wowslider-container1 {

	}
}
																			/* 966 x 604 	Google Nexus 7 Landscape */ 																			/* 960 x 600 	Google Nexus 7.2 Landscape */ 
																			/* 960 x 600 	Google Nexus 7.2 Landscape */ 
																			/* 960 x 540 	Samsung Note 3 Landscape */
																			/* 960 x 540	Motorola Droid 3/4/Razr/Atrix 4G/2 */



































/* =================================================================================================================*/




																				/* 768px */

@media screen and (max-width: 768px) {

	#toolsTrigger {

	}

	#iconTrigger1 {

	}
																										/* 768px */
	#synerginTrigger {

	}

	#galleryDivMarginTrigger {

	}

	#elevatorTriggerHeight{

	}
																										/* 768px */
	#elevatorTriggerContent{

	}

	#changeIndesignTrigger {

	}

	#changeFixedpicTrigger {

	}
																										/* 768px */
	#synerginFixedPic {
		display: block;
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		position: fixed;
		background-image: url('../mediaFolder/indexRemakeMedia/teamusa1366.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	#teamCaption {
		margin: 58% 0% 0% 0%;
	}

	#micaCaption {

	}

	.mobile-syn-pic {
	}
																										/* 768px */
	.landing-div {

	}

	.mw-name {

	}

	.job-title {

	}
																										/* 768px */
	#javascriptLogo {

	}

	#htmlLogo {

	}
																										/* 768px */
	#cssLogo {

	}

	.mw-intro {

	}

	.button-container {

	}
																										/* 768px */
	.git-button {

	}

	.portfolio-button {

	}

	.button-container > span {

	}

	.button-container > span > a {

	}

	.linkedin-button {

	}
																										/* 768px */
	#scrollArrow {

	}

	.tools-proficiencies {
		width: 100%;
		height: 1000px;

	}

	.tools-header {
		font-size: 2.4em; 
	}

	.tools-list {

	}
																										/* 768px */
	.tools-list > a {
		font-size: 0.8em;
	}

	#leftIcons {

	}

	#rightIcons {

	}
																										/* 768px */
	#ngwp {
		font-size: 0.8em;
	}

	#ngwpsub {
		font-size: 0.5em;
	}

	#elevatorDiv { 
		background-color: white;
		position: relative;
		width: 100%; 
		height: 405px;
		margin-top: 280%;
	}
																										/* 768px */
	.elevator-div { 

	}

	.elevatorPitch {

	}

	.br {
		display: block;
	}

	.elevator-pic {

	}
																										/* 768px */
	.elevator-title {
		padding: 0% auto 0% auto;
		font-size: 1.35em;
	}
																										/* 768px */         
	.elevator-text {
		text-align: justify;
	    font-size: 1em;
	    display: block;
	    width: 80%;
	}

	#portfolioDiv {
	
	}

	#ptdiv {

	}

	#portfoliotitle {
		font-size: 2.5em;
	}

	#galleryDiv {
		display: inline-block;
		background-color: black;
		width: 100%;
		padding: 0% 0% 0% 0%;
		margin: 0% 0% 0% 0%;
	}
																										/* 768px */
	.prezi-div {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0% 0% 0% 0%;
		margin: 0%;	

	}

	.embedded-prezi {
		display: block;
		width: 70%;
		height: 400px;
		padding: 3% 15% 3% 15%;
		margin: 0% 0% 0% 0%;
	}

	.ep-trello {
		height: 100px;	
	}

	.ep-mica-gamma {
		height: 76px;
	}
																										/* 768px */
	.ep-html-wordpress {
		height: 100px;
		/*border-style: solid;
		border-width: 1px;*/

	}

	.skype-button {
		margin: 21.85% 0% 0% 0%; 
		font-size: 1.3em;
		width: 93.2%;
	}

	.skype-button > a {
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	}

	#wowslider-container1 {
	/*	width: 768px;
		height: 307px;
		margin: 0%;
		padding: 0%; */
	}
}







/* =================================================================================================================*/



/*

																640 x 360	HTC One X Landscape
																640 x 360	HTC EVO LTE/3D Landscape
																640 x 360	HTC Sensation Landscape
																640 x 384	LG Optimus G Landscape
																640 x 400	Samsung Note 1 
																640 x 360	Samsung Note 2

																640 x 360	Samsung Galaxy S 3/4 Galaxy Nexus Landscape
																640 x 360	Samsung Galaxy Nexus Landscape
															 	640 x 384	Blackberry Z10 Landscape 
																640 x 360	Blackberry Z30 Landscape 
																640 x 384	Google Nexus 4 Landscape 
																640 x 360	Google Nexus 5 Landscape 
																640 x 360	Nokia C5/C6/C7/N97/N8/X7 Landscape
																640 x 360	Sony Xperia S/Ion Landscape

	
																



@media screen and (max-width: 640px) {


	.mw-name {

	}

	#teamCaption {
		display: block;
		color: white;
		width: 50%;
		margin: 60% 20% 0% 20%;
		height: 500px;
		text-align: center;
		background-color: black;
		font-size: 2em;
		z-index: -1;
		position: absolute;
		opacity: 0.7;
	}

	#micaCaption {

	}

	.skype-button {
		margin: 21.85% 0% 0% 0%; 
		font-size: 1.3em;
		width: 92.1%;
	}



}

*/
















/* =================================================================================================================*/




																				/* 568px */

@media screen and (max-width: 641px) {

	#toolsTrigger {
		display: none;
	}

	#iconTrigger1 {
		display: none;
	}
																										/* 568px */
	#synerginTrigger {
		display: none;
	}

	#galleryDivMarginTrigger {
		display: none;
	}

	#elevatorTriggerHeight{
		display: none;
	}
																										/* 568px */
	#elevatorTriggerContent{
		display: none;
	}

	#changeIndesignTrigger {
		display: none;
	}

	#changeFixedpicTrigger {
		display: none;
	}
																										/* 568px */
	


	.landing-div {
	/*	width: 100%;
		display: block;
		background-color: white; */
	}
																										/* 568px */
	.mw-name {

	}

	.job-title {
		font-size: 0.8em;
	/*	font-style: italic;
		font-family: 'Alegreya Sans', sans-serif;
		display: block;
		text-align: center;
		font-size: 0.8em;
		margin: 5px 23% 15px 23%;	*/
	}

	#javascriptLogo {
		background-image: url('../mediaFolder/indexRemakeMedia/javascriptLogo110.png');
		height: 65px;
		width: 10.6%;
		display: inline-block;
		margin: 0% 1% 0% 33%;	
		float: left;
		opacity: 1;
	}
																										/* 568px */
	#htmlLogo {
		background-image: url('../mediaFolder/indexRemakeMedia/htmlLogo110.png');
		height: 65px;
		display: inline-block;
		width: 9.5%;
		float: left;
		opacity: 1;
		margin: 0% 1% 0% 1%;
	}

	#cssLogo {
		background-image: url('../mediaFolder/indexRemakeMedia/cssLogo110.png');
		display: inline-block;
		height: 65px;
		width: 9.5%;
		float: left;
		opacity: 1;
		margin: 0% 24% 0% 1.5%;
	}
																										/* 568px */
	.mw-intro {
	}

	.button-container {

	/*	display: block;
		width: 60%;
		margin: 0% 20% 0% 20%;
		padding-bottom: 0% 0% 0% 0%; */
	}

	.git-button {
		width: 19%;
		margin-left: 16.1%;
		margin-top: 4.1%;
	/*	display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%; */
	}
																										/* 568px */
	.portfolio-button {
		width: 19%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 4.1%;
	/*	display: block;
		width: 100%;
		margin: 7% 0% 7% 0%;
		padding: 0% 0% 0% 0%;	*/
	}

	.button-container > span {
	/*	width: 100%; */
	}

	.button-container > span > a {
	/*	width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%; */
	}

	.linkedin-button {
		width: 19%;
		margin-top: 4.1%;
	/*	display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%; */
	}
																										/* 568px */
	#scrollArrow {
	/*	width: 14%;
		margin: 2% 43% 2% 43%; */
	}

	.tools-proficiencies {
		height: 755px;
	}

	.tools-header {
	/*	font-size: 1.2em; */
	}

	.tools-list {
	/*	width: 30%;
		display: inline-block;
		padding-top: 7%; */
	}
																										/* 568px */
	.tools-list > a {
		font-size: 0.7em;
	}

	#leftIcons {
	/*	
		height: 85%;
		max-height: 85%; */
	}

	#rightIcons {
	/*	width: 32%;
		height: 85%; /* 758px; 
		max-height: 85%;*/
	}
																										/* 568px */
	#ngwp {
	/*	margin: 0% 0% 0% 0%; 
		-webkit-margin-after: 0.02%; */
		font-size: 0.7em; 
	}

	#ngwpsub {
		font-size: 0.5em; 
	/*	font-style: italic; 
		margin: 0% 0% 1.55% 0%; */
	}

	#elevatorDiv { 
		height: 299px;
		margin: 205% 0% 0% 0%;
	/*	background-color: white;
		position: relative;
		width: 100%; 
		margin: 300% 0% 0% 0%;
		height: 100%; */
	}
																										/* 568px */
	.elevator-div { 
		height: auto;
	/*	background-color: white;
		width: 100%; 
		margin: 0% 0% 0% 0%;
		height: 100%;
		padding: 0% 0% 0% 0%; */
	}

	.elevatorPitch {
	/*	display: inline-block;
		margin: 0%;
		padding: 0%;
		width: 100%;
		height: auto; */
	}

	.br {
		display: block;
	}

	.elevator-third {	
		width: 32.85%;
	}

	.elevator-pic {
	/*	border-style: none;
		display: block;
	    width: 70%;
	    margin: 2% 15% 2% 15%;
		background-color:#cccccc; */
	}

	.ep-photoshop {
		background-image: url('../mediaFolder/indexRemakeMedia/photoshop_mica568.png');
		height: 74px;
	}
																										/* 568px */
	.ep-prezi {
		background-image: url('../mediaFolder/indexRemakeMedia/cube_prezi568.png');
		height: 74px;	
	}

	#indesignBrochure {
		display: block;
		height: 74px;
	}

	.elevator-title {
		text-align: center;
		display: block;
		margin: 1% 0% 2% 0%;
		padding: 0% auto 0% auto;
		font-size: 1em;
		width: 100%;
	}
	 																									/* 568px */        
	.elevator-text {
		text-align: justify;
	    font-size: 0.75em;
	    display: block;
	    width: 80%;
	    height: auto;
	    margin: 0% 0% 7% 0%;
	    padding: 0% 10% 0% 10%;
	}

	#portfolioDiv {
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		width: 100%;
		background-color: black;
	}

	#ptdiv {

	}

	#portfoliotitle {
		font-size: 2em;
	}

	#galleryDiv {
		display: inline-block;
		background-color: black;
		width: 100%;
		padding: 0% 0% 0% 0%;
		margin: 0% 0% 0% 0%;
	}
																										/* 568px */
	.prezi-div {
		display: block;
		width: 100%;
		height: 100%;
		background-image: url('../mediaFolder/indexRemakeMedia/big-fish-in-the-blue-ocean568.jpg');
		padding: 0%;
		margin-top: 0%;	
	}

	.embedded-prezi {
		display: block;
		width: 70%;
		height: 140px;
		padding: 3% 15% 3% 15%;
		margin: 0% 0% 0% 0%;
	}

	.ep-trello {
		margin-top: 5%;
		background-image: url('../mediaFolder/indexRemakeMedia/trello568.png');
		height: 74px;	
	}

	.ep-mica-gamma {
		height: 74px;
	}
																										/* 568px */
	.ep-html-wordpress {
		background-image: url('../mediaFolder/indexRemakeMedia/drawcircles.png');
		height: 74px;
	}

	.skype-button {
		width: 91.1%;
		margin-top: 1%;
	/*	margin: 51.85% 0% 0% 0%; */
	}

	.skype-button > a {
		font-size: 0.83em;
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	
	}

	#wowslider-container1 {
	/*	width: 568px;
		height: 227px; */
	}



/*
	#synerginFixedPic {
		display: block;
		width: 100%;
		z-index: -1;
		overflow-x: hidden;
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('../mediaFolder/indexRemakeMedia/micaArubaSFW.jpg');
		 background-image: url('../mediaFolder/indexRemakeMedia/teamusa568.jpg');
		background-repeat: no-repeat;
		background-size: 100%; 
	}*/

																										/* 568px */   

	






	/* added  to see if it works better this way */

	#synerginFixedPic {

		display: block;
		color: white;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		width: 100%;	
		text-align: center;
		background-color: black;
		z-index: -1;
		opacity: 1;	
		background-size: 0%;
		background-image: none;

	/*	height: 320px;
		padding-top: 10%;
		display: block;
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('http://162.243.103.157/assets/mica-assets/teamusa.jpg'); */
	}

	#teamCaption {
		display: none;

	}

	#micaCaption {
		display: none;
	}

	.syn-caption {
		width: 90%;
		font-size: 0.85em;
		height: auto;
		display: block;
		background-color: black;
		padding: 0% 5%;
		margin: 0% 0% 0% 0%;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-before: 0em;
		-webkit-padding-after: 0em;
	/*	display: block;
		color: white;
		margin: 50% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		width: 100%;	
		text-align: center;
		background-color: black;
		font-size: 1.6em;
		z-index: -1;
		opacity: 1;	*/
	}

	.mobile-syn-pic {
		top: -35px;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		position: fixed;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		padding: 0%;
		background-color: black; 
		background-image: url('../mediaFolder/indexRemakeMedia/micaArubaSFW.jpg');
		display: block;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-padding-before: 0em;
		-webkit-padding-after: 0em;
	/*	width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed; */
	}																										/* 568px */   


	.landing-div {
		background-image: url('../mediaFolder/indexRemakeMedia/blurred_colors.jpg');
	/*	width: 100%;
		display: block;
		background-color: white; */
	}
}

































/* =================================================================================================================*/




																				/* 480px */

@media screen and (max-width: 499px) {

	#toolsTrigger {
		display: none;
	}

	#iconTrigger1 {
		display: none;
	}
																										/* 480px */
	#synerginTrigger {
		display: none;
	}

	#galleryDivMarginTrigger {
		display: none;
	}

	#elevatorTriggerHeight{
		display: none;
	}

	#elevatorTriggerContent{
		display: none;
	}
	#changeIndesignTrigger {
		display: none;
	}

	#changeFixedpicTrigger {
		display: none;
	}
																											/* 480px */
	#synerginFixedPic {
	/*	display: block;
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('../mediaFolder/indexRemakeMedia/teamusa480.jpg');
		background-repeat: no-repeat; */
	}

	#teamCaption {
	/*	display: none;
		color: white;
		margin: 0% 0% 0% 0%;
		width: 100%;	
		height: auto;
		text-align: center;
		background-color: black;
		font-size: 2em;
		z-index: -1;
		position: absolute;
		opacity: 1; */
	}

	#micaCaption {
	/*	display: none;
		float: right;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 70%;
		color: white;
		width: 100%;
		height: auto;
		background-color: black;
		opacity: 1;
		font-size: 2em;
		z-index: -1;
		position: absolute; */
	}

	.syn-caption {
	/*	display: none;
		display: block;
		color: white;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		width: 100%;	
		text-align: center;
		background-color: black;
		font-size: 1.6em;
		z-index: -1;
		opacity: 1;	 */
	}
						/* not sure why having both pics with display block shows correctly..		480px */
	.mobile-syn-pic {
	/*	display: none;
		display: block;
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('../mediaFolder/indexRemakeMedia/teamusa480.jpg');
		background-repeat: no-repeat;
		background-size: 100%; */
	}

	.landing-div {
	/*	width: 100%;
		display: block;
		background-color: white; */
	}

	.mw-name {
	/*	display: block;
		font-family: 'Alegreya Sans', sans-serif;
		color: black;
		text-align: center;
		width: 100%;
		font-size: 2.2em;
		padding: 4% 0% 0% 0%;
		margin: 0% 0% 0% 0%; */
	}
																										/* 480px */
	.job-title {
	/*	font-style: italic;
		font-family: 'Alegreya Sans', sans-serif;
		display: block;
		text-align: center;
		font-size: 0.8em;
		margin: 5px 23% 15px 23%; */
	}

	#javascriptLogo {
		background-image: url('../mediaFolder/indexRemakeMedia/javascriptLogo110.png');
	/*	height: 65px;
		width: 10.6%;
		display: inline-block;
		margin: 0% 1% 1% 33%;	
		float: left;
		opacity: 1; */
	}

	#htmlLogo {
		background-image: url('../mediaFolder/indexRemakeMedia/htmlLogo110.png');
	/*	height: 65px;
		display: inline-block;
		width: 9.5%;
		float: left;
		opacity: 1;
		margin: 0% 1% 1% 1%; */
	}
																										/* 480px */
	#cssLogo {
		background-image: url('../mediaFolder/indexRemakeMedia/cssLogo110.png');
	/*	display: inline-block;
		height: 65px;
		width: 9.5%;
		float: left;
		opacity: 1;
		margin: 0% 24% 1% 1.5%; */
	}

	.mw-intro {
	/*	display: block;
		width: 80%;
		font-size: 1.15em;
		margin: 0.6% 10% 3% 10%;
		padding: 0% 0% 0% 0%;
		text-align: center; */
	}
																										/* 480px */
	.button-container {
	/*	display: block;
		width: 60%;
		margin: 0% 20% 0% 20%;
		padding-bottom: 0% 0% 0% 0%; */
	}

	.git-button {
		margin-top: 3%;
	/*	display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%; */
	}

	.portfolio-button {
		margin-top: 3%;
	/*	display: block;
		width: 100%;
		margin: 7% 0% 7% 0%;
		padding: 0% 0% 0% 0%;	*/
	}

	.button-container > span {
	/*	width: 100%; */
	}

	.button-container > span > a {
	/*	width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%; */
	}
																										/* 480px */
	.linkedin-button {
		margin-top: 3%;
	/*	display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%; */
	}

	#scrollArrow {
	/*	width: 14%;
		margin: 2% 43% 2% 43%; */
		margin-bottom: 0%;
	}

	.tools-proficiencies {
		height: 575px;
	
	}

	.tools-header {
	
		font-size: 1.2em;	
	}
																										/* 480px */
	.tools-list {
	/*	width: 30%;
		display: inline-block;
		padding-top: 7%; 	*/
	}

	.tools-list > a {
		font-size: 0.4em;
	}

	#leftIcons {
		height: 100%;
		max-height: 100%;
	}

	#rightIcons {
		height: 100%;
		max-height: 100%;
	}

	#ngwp {
		font-size: 0.5em;
	/*	margin: 0% 0% 0% 0%; 
		-webkit-margin-after: 0.02%;
		font-size: 0.9em;	*/

	}

	#ngwpsub {
		font-size: 0.4em;
	/*	font-size: 0.5em; 
		font-style: italic; 
		margin: 0% 0% 1.55% 0%;	*/
	}
																										/* 480px */
	#elevatorDiv { 
		height: auto;
	/*	background-color: white;
		position: relative;
		width: 100%; 
		margin: 300% 0% 0% 0%;
		height: 100%;	*/
	}

	.elevator-third {	
		width: 100%;
		margin: 0%;
	}

	.elevator-div { 
		height: auto;
	/*	background-color: white;
		width: 100%; 
		margin: 0% 0% 0% 0%;
		height: 100%;
		padding: 0% 0% 0% 0%;	*/
	}

	.elevatorPitch {
	/*	display: inline-block;
		margin: 0%;
		padding: 0%;
		width: 100%;
		height: auto;	*/
	}

	.br {
	}
																										/* 480px */
	.elevator-pic {
		width: 80%;
		height: 228px;
		margin: 2% 10% 1% 10%;
	/*	border-style: none;
		display: block;
	    width: 70%;
	    margin: 2% 15% 2% 15%;
		background-color:#cccccc;	*/
	}
																										/* 480px */
	.elevator-title {
		width: 100%;
		font-size: 1.84em;
	/*	text-align: center;
		display: block;
		margin: 1% 0% 2% 0%;
		padding: 0% auto 0% auto;
		font-size: 1.4em;
		width: 100%;	*/
	}
	         
	.elevator-text {
		text-align: justify;
		font-size: 1.209em;
		width: 90%;
		margin: 0% 0% 5% 0%;
		padding: 0% 5%;
	/*  font-size: 1.2em;
	    display: block;
	    width: 80%;
	    height: auto;
	    margin: 0% 0% 7% 0%;
	    padding: 0% 10% 0% 10%;	*/
	}

	#portfolioDiv {
	/*	margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		width: 100%;
		background-color: black;	*/
	}

	#ptdiv {
		height: 90px;
	}
																										/* 480px */
	#galleryDiv {
	/*	display: inline-block;
		background-color: black;
		width: 100%;
		padding: 0% 0% 0% 0%;	
		margin: 0% 0% 0% 0%;	*/
	}

	.prezi-div {
	/*	display: block;
		width: 100%;
		height: 100%;
		background-image: url('../mediaFolder/indexRemakeMedia/big-fish-in-the-blue-ocean480.jpg');
		padding: 0%;
		margin-top: 0%;		*/
	}

	.embedded-prezi {
	/*	display: block;
		width: 70%;
		height: 140px;
		padding: 3% 15% 3% 15%;
		margin: 0% 0% 0% 0%;	*/
	}
																										/* 480px */
	.ep-trello {
		background-image: url('../mediaFolder/indexRemakeMedia/trello480.png');
		height: 217px;	
	}

	.ep-mica-gamma {
		height: 187px;
	/*	height: 220px;	*/
	}
																										/* 480px */
	.ep-html-wordpress {
		height: 217px;
		background-image: url('../mediaFolder/indexRemakeMedia/drawcircles.png');
	/*	height: 201px;*/
	}

	.skype-button {
		width: 89.74%;
		margin-top: 6.2%;
	/*	margin: 51.85% 0% 0% 0%; */
	}

	.skype-button > a {
		font-size: 0.68em;
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	
	}

	#wowslider-container1 {

	}











	/* added  to see if it works better this way */

	#synerginFixedPic {
		/*
		
		padding-top: 10%;
	/*	display: block;
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('http://162.243.103.157/assets/mica-assets/teamusa.jpg'); */
	}

	#teamCaption {
		display: none;
	}

	#micaCaption {
		display: none;
	}

	.syn-caption {
	/*	display: block;
		background-color: black;	
		display: block;
		color: white;
		margin: 50% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		width: 100%;	
		text-align: center;
		background-color: black;
		font-size: 1.6em;
		z-index: -1;
		opacity: 1;	*/
	}

	.mobile-syn-pic {

	/*	background-color: black; 
		background-image: url('../mediaFolder/indexRemakeMedia/micaArubaSFW.jpg');
		display: block;
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed; */
	}

	.landing-div {
		background-image: url('../mediaFolder/indexRemakeMedia/blurred_colors.jpg');
	/*	width: 100%;
		display: block;
		background-color: white; */
	}
}






























/* =================================================================================================================*/




																				/* 320px */

@media screen and (max-width: 361px) {


	.ScrollScreenIndicators {
		display: none;
	}

	.hook {
		display: none;
	}

	.start {
		display: none;
	}

	.end {
		display: none;
	}

	#toolsTrigger {
		display: none;
	}

	#iconTrigger1 {
		display: none;
	}
																										/* 320px */
	#synerginTrigger {
		display: none;
	}

	#galleryDivMarginTrigger {
		display: none;
	}

	#elevatorTriggerHeight{
		display: none;
	}
																										/* 320px */
	#elevatorTriggerContent{
		display: none;
	}

	#changeIndesignTrigger {
		display: none;
	}

	#changeFixedpicTrigger {
		display: none;
	}
	
	#synerginFixedPic {
		background-image: none;
		/*
		
		padding-top: 10%;
	/*	display: block;
		width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		top: 0px;
		left: 0px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('http://162.243.103.157/assets/mica-assets/teamusa.jpg'); */
	}

	#teamCaption {
	
	}

	#micaCaption {
	}

	.syn-caption {
		width: 90%;
		height: auto;
		margin-top: 0%;
		top: 0%; 
		margin: 50% 0% 0% 0%;
		padding: 2% 5% 2% 5%;
		font-size: 1em;
	/*	width: 100%;
		font-size: 1.4em;
		display: block;
	/*	height: 480px; 
		background-color: black;
		padding-top: 20%;
	/*	display: block;
		color: white;
		margin: 50% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		width: 100%;	
		text-align: center;
		background-color: black;
		font-size: 1.6em;
		z-index: -1;
		opacity: 1;	*/
	}

	.mobile-syn-pic {
		background-color: #000000;
	/*	margin-top: 0%;
		background-color: green; 
		background-image: url('../mediaFolder/indexRemakeMedia/micaArubaSFW.jpg');
		display: block;
	/*	width: 100%;
		height: 100%; 
		z-index: -1;
		overflow-x: hidden;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed; */
	}
																										/* 320px */

	.landing-div {
		background-image: url('../mediaFolder/indexRemakeMedia/blurred_colors.jpg');
	/*	width: 100%;
		display: block;
		background-color: white; */
	}

	.mw-name {
		font-size: 2.6em;
		padding-top: 7%;
	/*	display: block;
		font-family: 'Alegreya Sans', sans-serif;
		color: black;
		text-align: center;
		width: 100%;
		font-size: 2.2em;
		padding: 4% 0% 0% 0%;
		margin: 0% 0% 0% 0%;	*/
	}
																										/* 320px */
	.job-title {
	/*	font-style: italic;
		font-family: 'Alegreya Sans', sans-serif;
		display: block;
		text-align: center;
		font-size: 0.8em;
		margin: 5px 23% 15px 23%; */
	}

	#javascriptLogo {
	/*	height: 50px;
		width: 10.6%;
		display: inline-block;
		margin: 0% 1% 1% 33%;	
		float: left;
		opacity: 1; */
	}

	#htmlLogo {
	/*	height: 50px;
		display: inline-block;
		width: 9.5%;
		float: left;
		opacity: 1;
		margin: 0% 1% 1% 1%; */
	}
																										/* 320px */
	#cssLogo {
	/*	display: inline-block;
		background-size: 100%;
		height: 50px;
		width: 9.5%;
		float: left;
		opacity: 1;
		margin: 0% 24% 1% 1.5%;	*/
	}

	.mw-intro {

	/*	display: none;
		width: 80%;
		font-size: 1.15em;
		margin: 0.6% 10% 3% 10%;
		padding: 0% 0% 0% 0%;
		text-align: center;	*/
	}

	.button-container {
		display: block;
		width: 60%;
		margin: 0% 20% 0% 20%;
		padding-bottom: 0% 0% 0% 0%;
	}
																										/* 320px */
	.git-button {
		display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}

	.portfolio-button {
		display: block;
		width: 100%;
		margin: 7% 0% 7% 0%;
		padding: 0% 0% 0% 0%;	
	}

	.button-container > span {
		width: 100%;
	}

	.button-container > span > a {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}

	.linkedin-button {
		display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}
																										/* 320px */
	#scrollArrow {
	/*	width: 14%;
		margin: 2% 43% 2% 43%; */
		margin-bottom: 15%;
	}

	.tools-proficiencies {
		height: 505px;
	/*	width: 100%;
		height: 420px;
		max-height: 420px;
		margin: 0%;
		color: white;
		text-align: center;
		position: absolute;
		background-color: black;	*/
	}

	.tools-header {
		font-size: 1.9em;
	/*	text-align: center; 
		width: 100%; 
		margin: 1% 0% 0% 0%; 
		font-size: 1.2em;	*/
	}

	.tools-list {
	/*	width: 30%;
		display: inline-block;
		padding-top: 7%; */
	}
																										/* 320px */
	.tools-list > a {
		font-size: 0.355em;
	}

	#leftIcons {
		height: 100%;
		max-height: 100%;
	/*	width: 33%;
		height: 85%;
		max-height: 85%; 
		margin: 0% 0% 0% 0%;
		padding-top: 0%;
		position: relative;
		top: 0%;
		float: left;
		display: inline-block;
		opacity: 1;
		background-size: 100% 100%;	*/
	}

	#rightIcons {
		height: 100%;
		max-height: 100%;
	/*	width: 32%;
		margin: 0% 1% 0% 0%;
		padding: 0% 0% 0% 0%;
		position: relative;
		top: 0%;
		float: right;
		display: inline-block;
		opacity: 1;
		height: 85%; /* 758px; 
		max-height: 85%;	*/
	}

	#ngwp {
	/*	margin: 0% 0% 0% 0%; 
		-webkit-margin-after: 0.02%;
		font-size: 0.9em;	*/
	}

	#ngwpsub {
	/*	font-size: 0.5em; 
		font-style: italic; 
		margin: 0% 0% 1.55% 0%;	*/
	}
																										/* 320px */
	#elevatorDiv { 
		height: 1250px;
		margin-top: 246%;
		background-color: white;
	/*	position: relative;
		width: 100%; 
		margin: 300% 0% 0% 0%;
		height: 100%;	*/
	}

	.elevator-div { 
	/*	background-color: white;
		width: 100%; 
		margin: 0% 0% 0% 0%;
		height: 100%;
		padding: 0% 0% 0% 0%;	*/
	}

	.elevatorPitch {


	/*	display: inline-block;
		margin: 0%;
		padding: 0%;
		width: 100%;
		height: auto;	*/
	}

	.br {

	}
																										/* 320px */
	.elevator-pic {
		height: 146px;
	/*	border-style: none;
		display: block;
	    width: 70%;
	    margin: 2% 15% 2% 15%;
		background-color:#cccccc;	*/
	}

	.ep-photoshop {
	/*	height: 127px;
		margin-top: 5%;	*/
	}

	.ep-prezi {
	/*	height: 140px;	*/
	}
																										/* 320px */
	#indesignBrochure {
		height: 146px;
	/*	width: 70%;
		background-size: 100% 100%;
		height: 100px;
		min-width: 100px;
		max-height: 120px;
		display: block;	*/
	}

	.elevator-title {
	/*	text-align: center;
		display: block;
		margin: 1% 0% 2% 0%;
		padding: 0% auto 0% auto;
		font-size: 1.4em;
		width: 100%;	*/
	}
	         
	.elevator-text {
	/*	text-align: center;
	    font-size: 1.2em;
	    display: block;
	    width: 80%;
	    height: auto;
	    margin: 0% 0% 7% 0%;
	    padding: 0% 10% 0% 10%;	*/
	}
																										/* 320px */
	#portfolioDiv {
	/*	margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		width: 100%;
		background-color: black;	*/
	}

	#ptdiv {

	}

	#portfoliotitle {
		font-size: 1.7em;
	}

	#galleryDiv {
	/*	display: inline-block;
		background-color: black;
		width: 100%;
		padding: 0% 0% 0% 0%;
		margin: 0% 0% 0% 0%;	*/
	}

	.prezi-div {
	/*	display: block;
		width: 100%;
		height: 100%;
		padding: 0%;
		margin-top: 0%;		*/
	}
																										/* 320px */
	.embedded-prezi {
	/*	display: block;
		width: 70%;
		height: 140px;
		margin: 0% 15% 0% 15%;
		padding: 3% 0% 3% 0%;	*/
	}

	.ep-trello {
		height: 161px;	
	}
/* need to settle on picture */
	.ep-mica-gamma {
		height: 126px;
	}
																										/* 320px */
	.ep-html-wordpress {
		height: 155px;
		border-style: none;
		border-color: #000099;
	}

	.skype-button {
		width: 84.1%;
		margin-top: 0%;
	/*	margin: 51.85% 0% 0% 0%; */
	}

	.skype-button > a {
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	
	}

	#wowslider-container1 {
	/*	width: 320px;
		height: 128px; */

	}

	.ws_thumbs {
	/*	margin: 0% auto; 
		padding-bottom: 5%; */

	}

}