

body, html {
	margin: 0%;
	padding: 0%;
	overflow-x: hidden;
	font-family: 'Alegreya Sans', sans-serif;
}


p, div {
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-before: 0em;
		-webkit-padding-after: 0em;
		-webkit-padding-start: 0px;
		-webkit-padding-end: 0px;

}

.trigger-class {
	z-index: -33;
	
}


/* =================================================================================================================*/

																		/* 	2880 x 1800 Your Macbook Pro 15'
																			2800 x 1920 Desktop | 3:2
																		*/
@media screen and (max-width: 2880px) {

	#loading {
		position: absolute;
		z-index: 500;
		top: 0%;
		bottom: 0%;
		width: 100%;
		height: 190%;
		background-color: #000000;
		opacity: 1;
		display: block;
	}

	#toolsTrigger {
		display: none;
		margin-top: 57.885%;
	}

	#iconTrigger1 {
		display: none;
		margin-top: 64%;
	}

	#toolListTrigger {
		margin-top: 70%;
		display: block;
	}

	#portfolioTrigger {
		margin-top: 130%;
		display: block;		
	}

	#synerginTrigger {
		margin-top: 220%; 
	}

	#elevatorTriggerHeight{
		margin-top: 260%;
	}

	#elevatorTriggerContent{
		margin-top: 266%;
	}

	#changeIndesignTrigger {
		margin-top: 270%;
	}

	#changeFixedpicTrigger {
		margin-top: 325%;
	}

	#heightHolder {
		margin-top: 310%;
	}

	.trigger-class {
		position: absolute;
		width: 60px;
		height: 20px;
		font-size: 6px;
		background-color: orange;
	}

	#synerginFixedPic {
		display: block;
		width: 100%;
		height: 100%;
		max-width: 2880px; 
		z-index: -1;
		overflow-x: hidden;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
		background-image: url('../mediaFolder/indexRemakeMedia/teamusa1366.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-color: #000000;
	}

	#synerginFixedPicMobile {
		display: none;
	}
	#teamCaption {
		width: 90%;	
		height: auto;
		z-index: -1;
		position: absolute;
		opacity: 1;
		display: block;
		padding: 0% 5% 0% 5%;
		margin: 0% 0% 0% 0%;
		text-align: center;
		font-size: 3.5em;
		background-color: black;
		color: #ffffff;
	}

	#micaCaption {
		float: right;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 70%;
		width: 100%;
		height: auto;
		opacity: 1;
		z-index: -1;
		position: absolute;
		display: block;
		font-size: 3.5em;
		background-color: black;
		color: white;
	}

	.mobile-syn-pic {
		display: none;

	}

	.landing-div {
		width: 100%;
		height: 1413px;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		display: block;
		background-image: url('../mediaFolder/indexRemakeMedia/micaBWarubaSFW.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.mw-name {
		width: 100%;
		padding: 1% 0% 0% 0%;
		margin: 0% 0% 0% 0%;
		display: block;
		font-size: 9.58em;
		text-align: center;
		font-family: 'Alegreya Sans', sans-serif;
		color: white;
	}

	.job-title {
		font-size: 2.5em;
		margin: 0% 23% 1% 23%;
		display: block;
		text-align: center;
		font-style: italic;
		font-family: 'Alegreya Sans', sans-serif;
		color: white;
	}

	#javascriptLogo {
		float: left;
		width: 5.2%;
		margin: 0% 1.2% 0% 40.75%;	
		opacity: 0;
		display: inline-block;
	}

	#htmlLogo {
		float: left;
		width: 4.5%;
		opacity: 0;
		display: inline-block;
		margin: 0% 1% 0% 1%;
	}

	#cssLogo {
		float: left;
		width: 4.5%;
		margin: 0% 24% 0% 1.5%;
		opacity: 0;
		display: inline-block;
	}

	.mw-intro {
		width: 35%;
		margin: 0% 32.5% 0.5% 32.5%;
		padding: 0% 0% 0% 0%;
		display: none;
		font-size: 1.5em;
		text-align: center;
		color: #A71616;
	}

	.button-container {
		width: 100%;
		height: auto;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		display: block;
	}

	.git-button {
		float: left;
		clear: left;
		width: 12%;
		height: 37px;
		margin: 1.5% 0% 0% 29.95%;
		padding: 0.8% 0%;
		display: block;
		font-size: 3.5em;
		text-align: center;
		font-family: 'Lato', sans-serif;
	}

	.portfolio-button {
		float: left;
		width: 12%;
		height: auto;	
		margin: 1.5% 2% 0% 2%;
		padding: 0% 0% 0% 0%;
		display: inline-block;
		text-align: center;
	}

	.portfolio-button > a {
		width: 100%; 
		padding: 6.8% 0%;
		font-size: 3.5em;
		text-align: center;
		font-family: 'Lato', sans-serif;
	}

	.portfolio-button > ul > {
	}

	.portfolio-button > ul > li > a {
		font-size: 2.5em;
		line-height: 2.5em;
		left: -15%;
	}

	.linkedin-button {
		float: left;
		width: 12%;
		margin: 1.5% 0% 0% 0%;
		padding: 0.8% 0%;
		display: inline-block;
		font-size: 3.5em;
		text-align: center;
		font-family: 'Lato', sans-serif;
	}

	#scrollArrow {
		width: 3%;
		margin: 2% 40% 2% 48.8%;
	}

	.skype-button {
		display: none;
	}

	#skypeDiv {
		position: absolute;
		/* top: 86%; */
		width: 100%;
		height: 8%;
		margin-top: 34.8%;
		display: block;
		font-size: 1.5em;
		background-color: rgba(0,0,0,0.3);
	}

	#skypeIcon {
		float: left;
		width: 2.4%;
		padding: 0.8% 2% 0% 2%;
		display: inline-block;
	}

	#skypeMessage {
		width: 90%;
		display: inline-block;
		color: #ffffff;
		font-size: 2.2em;
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		padding: 1% 0%;
	}

	.skypeinfo {
		width: 90%;
		display: inline-block;
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		padding: 1% 0% 1% 6.4%;
		opacity: 0;
		color: #ffffff;
		font-size: 2.2em;
		display: none;
	}

	.tools-proficiencies {
		width: 100%;
		margin: 0%;
		position: absolute;
		text-align: center;
		color: white;
		background-color: black;
	}
																									/* 2880px */
	.tools-header {
		width: 100%; 
		margin: 0% 0% 0% 0%;
		padding-top: 2%; 
		text-align: center; 
		font-size: 7.58em;
	}

	.tools-list {
		width: 33%;
		padding-top: 7%;
		display: inline-block;
		font-size: 3.1em
	}

	.tools-list > a {
		width: 100%;
		margin: 4% 0% 4% 0%;
		display: block;
		font-size: 1.55em;
		text-decoration: none;
		color: #ffffff;
	}

	.tool-name {
		color: #ffffff;
	}
	#leftIcons {
		width: 33%;
		height: 1800px;
		max-height: 75%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		position: relative;
		top: 0%;
		float: left;
		display: inline-block;
		opacity: 1;
		background-image: url('../mediaFolder/indexRemakeMedia/left-icons.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	#rightIcons {
		width: 32%;
		height: 1800px;
		max-height: 75%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		position: relative;
		top: 0%;
		float: right;
		display: inline-block;
		opacity: 1;
		background-image: url('../mediaFolder/indexRemakeMedia/right-icons.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	#ngwp {
		width: 100%; 
		margin: 0% 0% 1% 0%;
		-webkit-margin-after: 1%;
		display: block;
		font-size: 1.35em;
		color: white;
	}

	#ngwpsub {
		width: 100%;
		margin: 0% 0% 0% 0%;
		display: block;
		color: white;
		font-size: 0.7em; 
		font-style: italic; 
	}

	#portfolioDiv {
		width:100%; 
		height: auto;
		background-color: #000000;
	}

	#ptdiv {
		width: 100%;
		height: 250px;
		margin-top: 4%;
		display: inline-block;
		background-color: #000000;
	}

	#portfoliotitle {
		width: 100%;
		height: 150px;
		margin: 0% 0% 0% 0%;
		display: inline-block;
		text-align: center; 
		font-size: 7.58em;
		color: -webkit-gradient(linear,left top,left bottom,color-stop(0.21, #FF681C),color-stop(1, #FF9D00));
		color: -o-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);
		color: -moz-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);color: -webkit-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);
		color: -ms-linear-gradient(bottom, #FF681C 21%, #FF9D00 100%);color: linear-gradient(to bottom, #FF681C 21%, #FF9D00 100%);
	}

	#elevatorDiv { 
		width: 100%; 
		height: 100%;
		margin: 207% 0% 0% 0%;
		position: relative;
		background-color: #ffffff;
	}

	.elevator-div { 
		width: 100%; 
		height: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		background-color: white;
	}
																									/* 2880px */
	.elevatorPitch {
		width: 100%;
		height: auto;
		margin: 0%;
		padding: 0%;
		display: inline-block;
	}

	.br {
		display: block;
	}

	.elevator-third {
		width: 33%;
		padding-top: 3%;
		display: inline-block;
	}

	.elevator-pic {
	    width: 80%;
	    height: 375px;
	    margin: 2% 10% 2% 10%;
		display: block;
		border-style: none;
		background-color:#cccccc;
	}


	.elevator-title {
		width: 100%;
		margin: 1% 0% 2% 0%;
		padding: 0% 0% 0% 0%;
		display: block;
		text-align: center;
		font-size: 3em;
	}

	.ep-trello {
		background-image: url('../mediaFolder/indexRemakeMedia/trello568.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.ep-mica-gamma {

	}

	.ep-html-wordpress {
		background-image: url('../mediaFolder/indexRemakeMedia/drawcircles.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.elevator-text {
	    width: 78.1%;
	    height: auto;
	    margin: 0% 0% 7% 0%;
	    padding: 0% 10% 0% 10%;
	    display: block;
		text-align: center;
	    font-size: 2.5em;
	}
																									/* 2880px */
	.prezi-div {
		width: 100%;
		height: 1400px;
		margin-top: 0%;	
		padding: 0%;
		display: block;
		background-image: url('../mediaFolder/indexRemakeMedia/big-fish-in-the-blue-ocean1366.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
    
	.embedded-prezi {
		width: 90%;
		height: 90%;
		padding: 3% 5% 3% 5%;
		margin: 0% 0% 0% 0%;
		display: block;
	}

	#wowslider-container1 {
		width: 100%;
		background-color: #000000;
	}

	.ws_thumbs {
		background-color: #000000;
	}

	.ws_title {
		font-size: 3.9em;
	}

	.ws-title-wrapper {
		font-size: 3.9em;
	}

	.ws_title > span {
		font-size: 3.9em;
	}

	.ws_title > div {
		font-size: 3.9em;
	}

}


/* =================================================================================================================*/

@media screen and (max-width: 2560px) {
																									/*	2560 x 1440 */
	

	#synerginTrigger {
		margin-top: 240%; 
	}

	#elevatorTriggerHeight{
		margin-top: 270%;
	}
	
	.landing-div {
		height: 1256px;
	}

	.portfolio-button > ul > li > a {
		font-size: 2.2em;
		line-height: 2.2em;
	}

	#skypeDiv {
		height: 8.4%;
		margin-top: 33.6%;
	}

	#skypeIcon {
		float: left;
		width: 2.5%;
		padding: 1% 2% 0% 2%;
		display: inline-block;
	}

	.elevator-pic {
	    width: 80%;
	    height: 330px;
	    margin: 2% 10% 2% 10%;
		display: block;
		border-style: none;
		background-color:#000000;
	}

	.elevator-text {
		font-size: 2.4em;
	}
}

/* =================================================================================================================*/

@media screen and (max-width: 2048px) {
																										/*	2048 x 1536 */
	#portfolioTrigger {
		margin-top: 145%;
		display: block;		
	}

	#synerginTrigger {
		margin-top: 280%; 
	}

	#elevatorTriggerHeight{
		margin-top: 330%;
	}

	.landing-div {
		height: 1005px;
	}

	.mw-name {
		font-size: 7.58em;
	}

	.job-title {
		margin: 0% 23% 0.9% 23%;
	}

	.git-button {
		font-size: 3em;
		margin-left: 30.4%;
	}

	.portfolio-button > a {
		font-size: 3em;
		text-align: center;
		font-family: 'Lato', sans-serif;
	}

	.portfolio-button > ul > {
	}

	.portfolio-button > ul > li > a {
		font-size: 2em;
		line-height: 2em;
	}

	.linkedin-button {
		font-size: 3em;
	}

	#skypeDiv {
		height: 8%;
		margin-top: 32.6%;
	}

	#skypeIcon {
		width: 3.5%;
	}

	#elevatorDiv { 
		margin-top: 273%;
	}

	#heightHolder {
		margin-top: 420%;
	}

	.elevator-pic {
	    width: 90%;
	    height: 266px;
	    margin: 2% 5% 2% 5%;
	}

	.elevator-text {
		font-size: 2.2em;
	}
}



/* =================================================================================================================*/

																				/* 1920px*/


@media screen and (max-width: 1920px) {

	.mw-name {
		font-size: 6.3em;
	}

	.job-title {
		font-size: 1.8em;
	}

	.git-button {
		font-size: 2.1em;
		margin-left: 30%;
	}

	.portfolio-button > a {
		font-size: 2.1em;
	}

	.portfolio-button > ul > li > a {
		font-size: 1.93em;
		line-height: 1.93em;
	}

	.linkedin-button {
		font-size: 2.1em;
	}

	#skypeDiv {
		height: 9.5%;
		margin-top: 37.6%;
	}

	#skypeIcon {
		width: 3%;
	}

	#skypeMessage {
		font-size: 1.8em;
	}
	
	.skypeinfo {
		font-size: 1.8em;	
	}

	.tools-header {
		font-size: 5.5em;
	}

	.tools-list > a {
		font-size: 1.35em;
	}

	#teamCaption {
		font-size: 2.8em;
	}

	.elevator-text {
		font-size: 2.05em;
	}

	#heightHolder {
		margin-top: 429%;
	}

	.ws_title {
		font-size: 0.85em;
	}

	.ws-title-wrapper {
		font-size: 0.85em;
	}

	.ws_title > span {
		font-size: 0.85em;
	}

	.ws_title > div {
		font-size: 0.85em;
	}
}



/* =================================================================================================================*/



@media screen and (max-width: 1680px) {
																				/* 1680 x 1050px */

	.landing-div {
		height: 824px;
	}

	.mw-name {
		font-size: 5.3em;
	}

	.job-title {
		margin-top: 0px;
	}

	.git-button {
		font-size: 1.8em;
		margin-left: 30%;
	}

	.portfolio-button > a {
		font-size: 1.8em;
	}

	.portfolio-button > ul > li > a {
		font-size: 1.8em;
		line-height: 1.8em;
	}

	.linkedin-button {
		font-size: 1.8em;
	}

	#skypeDiv {
		margin-top: 34.7%;
	}

	#skypeIcon {
		width: 2.8%;
		padding-top: 0.8%;
	}

	#skypeMessage {
		font-size: 1.4em;
	}
	
	.skypeinfo {
		font-size: 1.4em;	
	}

	.tools-proficiencies {
		height: 1700px;
	}

	.tools-header {
		font-size: 4.8em;
	}

	.tools-list > a {
		font-size: 1.12em;
	}

	#ptdiv {
		height: 150px;
	}

	#portfoliotitle {
		font-size: 5.8em;
	}

	#teamCaption {
		font-size: 2.8em;
	}

	.elevator-pic {
		height: 241px;
	}

	.elevator-title {
		font-size: 2.5em;
	}

	.elevator-text {
		font-size: 1.85em;
	}

	.prezi-div {
		height: 1000px;
	}

	#heightHolder {
		margin-top: 416%;
	}

	.ws_title {
		font-size: 2.3em;
	}

	.ws-title-wrapper {
		font-size: 2.3em;
	}

	.ws_title > span {
		font-size: 2.3em;
	}

	.ws_title > div {
		font-size: 2.3em;
	}
}

/* =================================================================================================================*/

																										/*	1680 x 1050 */
/* no extra css required */
@media screen and (max-width: 1680px) {

}





/* =================================================================================================================*/

																				/* 1600x900px*/

@media screen and (max-width: 1600px) {

	#portfolioTrigger {
		margin-top: 165%;
	}

	#synerginTrigger {
		margin-top: 295%;
	}

	.landing-div {
		height: 785px;
	}

	.job-title {
		font-size: 1.5em;
	}

	#skypeDiv {
		margin-top: 34.7%;	
	}

	#skypeIcon {
		padding-top: 0.83%;
	}

	#teamCaption {
		font-size: 2.3em;
	}	

	.elevator-text {
		font-size: 1.65em;
	}

}

/* =================================================================================================================*/

																										/*	1536 x 2048 
																											Testing in 1536 x 900 */
/* no css needed */
@media screen and (max-width: 1536px) {

}


/* =================================================================================================================*/




																				/* 1440 x 900*/


@media screen and (max-width: 1440px) {


	#portfolioTrigger {
		margin-top: 145%;
	}

	.landing-div {
		height: 707px;
	}

	#skypeDiv {
		height: 7.5%;
		margin-top: 33.7%;
	}

	#skypeIcon {
		padding-top: 1%;
	}

	.git-button {
		margin-left: 30.05%;
		padding: 0%;
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.portfolio-button > a {
		padding: 3px 0%;
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.linkedin-button {
		padding: 3px 0% 4px 0%;
		font-size: 1.5em;
		line-height: 1.5em;		
	}

	.tools-proficiencies {
		height: 1400px;
	}

	.tools-header {
		font-size: 4em;
	}

	.tools-list > a {
		font-size: 0.9em;
	}

	#ngwpsub {
		font-size: 0.65em;
	}

	.elevator-pic {
		height: 208px;
	}

	.elevator-title {
		font-size: 2.3em;
	}

	.elevator-text {
		font-size: 1.55em
	}

	.ws_title {
		font-size: 1.6em;
	}

	.ws-title-wrapper {
		font-size: 1.6em;
	}

	.ws_title > span {
		font-size: 1.6em;
	}

	.ws_title > div {
		font-size: 1.6em;
	}
}



/* =================================================================================================================*/



																				/* 1366 x 768 */
																				/* 1360 x 768 */

@media screen and (max-width: 1366px) { 

	

	.tools-proficiencies {
		height: 1400px;
	}

	#synerginTrigger {
		margin-top: 278%;
	}

	#elevatorTriggerHeight{
		margin-top: 325%;
	}
	#teamCaption {
		opacity: 0.6;
	}

	.landing-div {
		height: 670px;
	}

	.git-button {
		margin-top: 0.5%
	}

	.portfolio-button {
		margin-top: 0.5%
	}

	.portfolio-button > ul > li > a {
		font-size: 1.4em;
		line-height: 1.75em;
	}
																				/* 1366px */
	.linkedin-button {
		margin-top: 0.5%
	}


	#skypeIcon {
		padding-top: 1%;
	}

	#skypeDiv {
		height: 10%;
		margin-top: 32.8%;
	}

	#skypeIcon {
		padding-top: 1%;
	}

	.tools-proficiencies {
		height: 1400px;
	}
																				/* 1366px */
	#ngwp {
		font-size: 1.2em;
	}

	.elevator-pic {
		height: 179px;
	}

	.elevator-text {
		font-size: 1.2em;
	}

	.prezi-div {
		height: 768px;
	}

	#heightHolder {
		margin-top: 408%;
	}
}








/* =================================================================================================================

																			1280 x 800   Desktop / 13" Notebook
																			1280 x 800   Google Nexus 10 Landscape 
																			1280 x 800   Samsung Galaxy Tab 7.7/8.9/10.1 Landscape 
																			1280 x 720	 Motorola Droid Razr HD Landscape 
																			1280 x 800	 Motorola Xoom/Xyboard Landscape 			*/

																	

@media screen and (max-width: 1280px) {

	#toolsTrigger {
		margin-top: 57.885%;
	}

	#iconTrigger1 {
		margin-top: 64%;
	}

	#synerginTrigger {
		margin-top: 277%; 
	}

	#elevatorTriggerHeight{
		margin-top: 299.5%;
	}

	#teamCaption {
		font-size: 1.7em;
	}
	
	.landing-div {
		height: 628px;
	}

	.git-button {
		margin-left: 30.05%;
		padding: 0% 0% 2px 0%;
	}

	.portfolio-button > ul >li > a {
		font-size: 1.3em;
		line-height: 1.8em;
	}		

	#skypeDiv {
		margin-top: 32.6%;
	}

	#skypeIcon {
		padding-top: 0.75%;
	}

	#skypeMessage {
		font-size: 1.1em;
	}

	.skypeinfo {
		font-size: 1.1em;
	}

	#ngwp {
		font-size: 1.1em; 
	}

	#elevatorDiv { 
		margin: 233% 0% 0% 0%;
	}

	#heightHolder {
		margin-top: 374%;
	}
																										/* 1280 px */
}








/* ================================================================================================================= */

																										/*	1152 x 864 */

@media screen and (max-width: 1152px) and (max-height: 864px) {

	#skypeDiv {
		margin-top: 36.5%;
	}

	#synerginTrigger {
		margin-top: 293%;
	}

	#elevatorTriggerHeight {
		margin-top: 315.5%;
	}

}





















/* =================================================================================================================


																								1024 x 768 	iPad 3/4 Landscape 
																								1024 x 600	Samsung Galaxy Tab Landscape 
																								1024 x 600	Amazon Kindle Fire 1st Gen Landscape 
																								1024 x 600	Blackberry Playbook Landscape 	*/

@media screen and (max-width: 1024px) {
 
	#loading {

	}

	#toolsTrigger {
		display: none;
	}

	#iconTrigger1 {
		display: none;
	}
																										/* 1024px */
	#toolListTrigger {
		display: none;
	}

	#portfolioTrigger {
		display: none;
	}

	#synerginTrigger {
		display: none;
	}

	#elevatorTriggerHeight{
		display: none;
	}

	#elevatorTriggerContent{
		display: none;
	}
	
	#galleryDivMarginTrigger {
		display: none;
	}
																											/* 1024px */
	#changeIndesignTrigger {
		display: none;
	}

	#changeFixedpicTrigger {
		display: none;
	}

	.trigger-class {
		display: none;
	}
	
	#synerginFixedPic {
		background-image: none;
		background-color: #000000;
	}	

	#synerginFixedPicMobile {
		display: block;
		width: 100%;
		max-width: 1024px;
		height: 561px; 
		z-index: -1;
		overflow-x: hidden;
		margin: 0% 0% 0% 0%;
		padding: 0%;
		position: fixed;
	}

	.mobile-syn-pic {
		display: none;
	}

	#teamCaption {
		display: none;
	/* 	margin: 0.5% 0% 0% 0%;
		font-size: 1.7em;
		color: #ffffff;
		background-color: #000000;
		opacity: 1;
	*/
	}
																										/* 1024px */
	#micaCaption {
		display: none;		
	}

	.landing-div {
		height: 502px;
	}

	.mw-name {
		font-size: 3.4em;
	}

	.job-title {
		font-size: 0.9em
	}

	#javascriptLogo {
		opacity: 1;
	}

	#htmlLogo {
		opacity: 1;
	}

	#cssLogo {
		opacity: 1;
	}	

	.git-button {
		font-size: 1em;
		height: 29px;
		margin-left: 27%;
		padding: 3px 10px 2px 10px;
	}

	.portfolio-button {
		font-size: 1em;
		height: 29px;

	}

	.portfolio-button > a {
		font-size: 1em;
		height: 29px;		
		padding: 3px 10px 2px 10px;
	}
																										/* 1024px */
	.linkedin-button {
		font-size: 1em;
		height: 29px;
		padding: 3px 10px 2px 10px;
		margin-left: 2%;
	}

	#scrollArrow {

	}

	#skypeDiv {
		display: none;
	}

	#skypeIcon {
		display: none;
	}

	.skype-button {
		width: 100%;
		margin-top: 35%;
		display: block;
	}

	.skype-button > a {
		width: 100%;
		opacity: 0.5;
		background-color: #000000;
		font-size: 1.4em;
		line-height: 1.4em;
		padding: 1% 0%;
	}

	.skype-button > ul {
		background-color: rgba(0,0,0,0.8);
	}

	.skype-button > ul > li {
		color: #ffffff;
		font-size: 1.8em;
		line-height: 2em;
		text-indent: 30px;
	}

	.tools-proficiencies {
		height: 1200px;
	}
																										/* 1024px */
	.tools-header {
		font-size: 3.6em;
	}

	.tools-list {
		font-size: 1.4em;
	}

	.tools-list > a {
		font-size: 1.51em;
	}

	#leftIcons {
		height: 65%;
		max-height: 65%; 
	}

	#rightIcons {
		height: 65%;
		max-height: 65%; 
	}

	#ngwp {

	}

	#ngwpsub {
		font-size: 0.8em;
	}

	#elevatorDiv { 
		margin: 260% 0% 0% 0%;
	}
	
	.elevator-pic {
		height: 149px;
	}

	.elevator-title {
		font-size: 1.4em;
	}
	         																							/* 1024px */
	.elevator-text {
		font-size: 1.1em;
		width: 82%;
	}

	#portfolioDiv {

	}

	#ptdiv {
		height: 90px;
	}

	#portfoliotitle {
		font-size: 4.2em;
		color: #FF6600;
		text-shadow: 2px 2px 15px #FF6600;
		height: 100px;
	}

	.prezi-div {
		height: 700px;
	}

	#heightHolder {
		display: none;
	}
}																										/* 1024px */










 	




/* =================================================================================================================*/

																			/* 966 x 604 	Google Nexus 7 Landscape */ 																			/* 960 x 600 	Google Nexus 7.2 Landscape */ 
																			/* 960 x 600 	Google Nexus 7.2 Landscape */ 
																			/* 960 x 540 	Samsung Note 3 Landscape */
																			/* 960 x 540	Motorola Droid 3/4/Razr/Atrix 4G/2 */


@media screen and (max-width: 966px) {


	.landing-div {
		height: 474px;
	}

	.elevator-pic {
		height: 141px;
	}

	.skype-button > a {
		font-size: 0.9em;
	}


/* =================================================================================================================*/

																										/* 768px */

@media screen and (max-width: 768px) {

	#synerginFixedPicMobile {
		height: 421px;
	}

	#teamCaption {
		top: 0px;
		margin: 58% 0% 0% 0%;
	}

	.landing-div {
		height: 377px;
	}


	.git-button {
		margin: 19% 5% 0% 26%;
	}

	.portfolio-button {
		font-size: 1em;
		height: 29px;
		margin: 19% 0% 0% 0%;

	}

	.portfolio-button > a {
	
	}

	.linkedin-button {
		margin: 19% 0% 0% 8%;
	}


	.tools-proficiencies {
		width: 100%;
		height: 1000px;
	}

	.tools-header {
		font-size: 2.4em; 
	}

	.tools-list > a {
		font-size: 0.99em;
	}

	#ngwp {
		font-size: 0.8em;
	}

	#ngwpsub {
		font-size: 0.5em;
	}

	#elevatorDiv { 
		background-color: white;
		position: relative;
		width: 100%; 
		height: 354px;
		margin-top: 280%;
	}
																										/* 768px */
	.elevator-pic {
		height: 110px;
	}

	.elevator-title {
		font-size: 1.35em;
	}

	.elevator-text {
		text-align: justify;
	    font-size: 1em;
	    display: block;
	    width: 80%;
	}

	#portfoliotitle {
		font-size: 2.5em;
	}

	.prezi-div {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0% 0% 0% 0%;
		margin: 0%;	
	}

	.embedded-prezi {
		display: block;
		width: 70%;
		height: 400px;
		padding: 3% 15% 3% 15%;
		margin: 0% 0% 0% 0%;
	}

	.skype-button {
		width: 100%;
		margin: 31.35% 0% 0% 0%; 
		font-size: 1.3em;
	}

	.skype-button > a {
	
	}

	.skype-button > ul {
	
	}
																										/* 768px */
	.skype-button > ul > li {
		font-size: 1.2em;
	}
}




/* =================================================================================================================*/
																				
																				/* 736 x 414	iPhone 6 Plus Landscape */

@media screen and (max-width: 736px) {

	.landing-div {
		height: 361px;
	}

	.git-button {
		margin: 19% 5% 0% 22.6%;
	}

}





/* =================================================================================================================*/
																				
																				/* 667 x 375	iPhone 6 Landscape */

@media screen and (max-width: 667px) {

	.landing-div {
		height: 327px;
	}

	.git-button {
		margin: 16% 5% 0% 22.55%;
	}

	.portfolio-button {
		font-size: 1em;
		height: 29px;
		margin: 16% 0% 0% 0%;
	}

	.portfolio-button > a {
		font-size: 1em;
		height: 29px;		
		padding: 3px 10px 2px 10px;		
	}

	.portfolio-button > ul > li > a {
		font-size: 1em;
		line-height: 1.9em;
		left: -15%;
	}

	.linkedin-button {
		margin: 16% 0% 0% 8%;
	}

	.skype-button {
	/*	width: 100%;
		margin: 29.35% 0% 0% 0%;  */
		font-size: 1.3em;
	}
}


/* =================================================================================================================*/



																/*
																640 x 360	HTC One X Landscape
																640 x 360	HTC EVO LTE/3D Landscape
																640 x 360	HTC Sensation Landscape
																640 x 384	LG Optimus G Landscape
																640 x 400	Samsung Note 1 
																640 x 360	Samsung Note 2

																640 x 360	Samsung Galaxy S 3/4 Galaxy Nexus Landscape
																640 x 360	Samsung Galaxy Nexus Landscape
															 	640 x 384	Blackberry Z10 Landscape 
																640 x 360	Blackberry Z30 Landscape 
																640 x 384	Google Nexus 4 Landscape 
																640 x 360	Google Nexus 5 Landscape 
																640 x 360	Nokia C5/C6/C7/N97/N8/X7 Landscape
																640 x 360	Sony Xperia S/Ion Landscape 
																*/

	
																



@media screen and (max-width: 640px) {


	.landing-div {
		height: 314px;
	}

	.git-button {
		margin: 14.5% 5% 0% 22.55%;
	}

	.portfolio-button {
		font-size: 1em;
		height: 29px;
		margin: 14.5% 0% 0% 0%;
	}

	.portfolio-button > a {
		font-size: 1em;
		height: 29px;		
		padding: 3px 10px 2px 10px;		
	}

	.portfolio-button > ul > li > a {
		font-size: 1em;
		line-height: 1.9em;
		left: -15%;
	}

	.linkedin-button {
		margin: 14.5% 0% 0% 8%;

	}

	.skype-button {
		margin: 28.45% 0% 0% 0%; 
		font-size: 1.3em;
	}

	#synerginFixedPicMobile {
		height: 351px;
	}

	#elevatorDiv {
		margin: 251% 0% 0% 0%;		
	}

	.elevator-title {
		font-size: 1em;
	}

	.elevator-text {
		font-size: 0.85em;
	}
}







/* =================================================================================================================*/




																										/* 568 x 320 */

@media screen and (max-width: 568px) {


	.landing-div {
		height: 278px;
		background-image: url('../mediaFolder/indexRemakeMedia/blurred_colors.jpg');
	}

	.mw-name {
		padding: 4% 0% 0% 0%;
	}

	.job-title {
		font-size: 0.8em;
	}

	#javascriptLogo {
		width: 10.6%;
		height: 64px;
		margin: 0% 1% 0% 33%;	
		opacity: 1;
	}

	#htmlLogo {
		display: inline-block;
		width: 9.5%;
		float: left;
		opacity: 1;
		margin: 0% 1% 0% 1%;
	}

	#cssLogo {
		display: inline-block;
		width: 9.5%;
		float: left;
		opacity: 1;
		margin: 0% 24% 0% 1.5%;
	}

	.git-button {
		width: 19%;
		margin: 2.5% 5% 0% 10.95%;
	}

	.portfolio-button {
		width: 19%;
		margin: 2.5% 0% 0% 0%;
	}

	.linkedin-button {
		width: 19%;
		margin: 2.5% 0% 0% 8.8%;
	}
																										/* 568px */
	#scrollArrow {
	/*	width: 14%;
		margin: 2% 43% 2% 43%; */
	}

	.tools-proficiencies {
		height: 755px;
	}

	.tools-list > a {
		font-size: 0.7em;
	}

	#ngwp {
		font-size: 0.7em; 
	}

	#ngwpsub {
		font-size: 0.5em; 
	}

	#synerginFixedPicMobile {
		height: 311px;
	}

	#elevatorDiv { 
		height: 299px;
		margin: 251% 0% 0% 0%;
	}

	.elevator-third {
		width: 32.5%;
	}

	.elevator-pic {
		height: 83px;
	}
																										/* 568px */
	.elevator-title {
		text-align: center;
		display: block;
		margin: 1% 0% 2% 0%;
		font-size: 1em;
		width: 100%;
	}

	#portfoliotitle {
		font-size: 2em;
	}

	.embedded-prezi {
		display: block;
		width: 70%;
		height: 220px;
		padding: 3% 15% 3% 15%;
		margin: 0% 0% 0% 0%;
	}

	.skype-button {
		display: none;
/*		width: 100%;
		margin: 23.85% 0% 0% 0%; */
	}

	.skype-button > a {
		display: none;
/*		font-size: 0.83em; */
	}
																											/* 568px */   
}




/* =================================================================================================================*/




																										/* 540 x 966 Samsung Note 3 Portrait */

@media screen and (max-width: 540px) {

	.landing-div {
		height: 265px;
	}
}




/* =================================================================================================================*/




																											/* 480px */

@media screen and (max-width: 480px) {


	.landing-div {
		height: 350px;
	}

	.mw-name {
		font-size: 3em;
	}

	#javascriptLogo {
		height: 52px;
	}

	.git-button {
		margin: 3% 5% 0% 10.1%;
	}

	.portfolio-button {
		margin: 3% 0% 0% 0%;
	}
																										/* 480px */
	.linkedin-button {
		width: 19%;
		margin: 3% 0% 0% 8.8%;
	}

	.tools-proficiencies {
		height: 575px;
	
	}

	.tools-header {
		font-size: 1.75em;	
	}

	.tools-list > a {
		font-size: 0.65em;
	}

	#leftIcons {
		height: 100%;
	}

	#rightIcons {
		height: 100%;
	}

	#ngwpsub {
		font-size: 0.4em;
	}

	#synerginFixedPicMobile {
		height: 263px;
		margin: 0%;
		padding: 0%;
		top: 0%;
	}
																										/* 480px 
	.skype-button > ul > li {
		font-size: 1em;
		background-color: rgba(0,0,0,0.8);
	}*/

	#elevatorDiv { 
		height: auto;
	}

	.elevator-third {	
		width: 100%;
		margin: 0%;
	}

	.elevator-div { 
		height: auto;
	}

	.elevator-pic {
		width: 80%;
		height: 188px;
		margin: 2% 10% 1% 10%;
	}

	.elevator-title {
		width: 100%;
		font-size: 1.84em;
	}
	         
	.elevator-text {
		text-align: justify;
		font-size: 1.209em;
		width: 90%;
		margin: 0% 0% 5% 0%;
		padding: 0% 5%;
	}

	#portfolioDiv {

	}

	#ptdiv {
		height: 90px;
	}

	.prezi-div {

	}

	.embedded-prezi {
	}
																										/* 480px */
	.ep-trello {
		background-image: url('../mediaFolder/indexRemakeMedia/trello480.png');
		height: 217px;	
	}
}
/*
	.skype-button {
		margin-top: 34.2%; 
	}

	.skype-button > a {
		font-size: 0.68em;
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	
	}
*/














/* =================================================================================================================*/




																											/* 360 x 640	Samsung Note 3 Portrait */

@media screen and (max-width: 365px) and (max-height: 640px) {

	
	.landing-div {
		height: 550px;
	}

	#javascriptLogo {
		height: 37px;
	}

	.button-container {
		display: block;
		width: 60%;
		margin: 20% 20% 0% 20%;
		padding-bottom: 0% 0% 0% 0%;
	}
	.git-button {
		display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}

	.portfolio-button {
		display: block;
		width: 100%;
		margin: 7% 0% 7% 0%;
		padding: 0% 0% 0% 0%;	
	}

	.button-container > span {
		width: 100%;
	}

	.button-container > span > a {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}

	.linkedin-button {
		display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}
/*
	.skype-button {
		margin-top: 30%; 
	}

	.skype-button > a {
		font-size: 0.68em;
	}

	.skype-button > ul {
		margin-bottom: 0%;
	}

	.skype-button > ul > li {
		margin-bottom: 0%;	
	}
*/
	#elevatorDiv {
		margin: 287% 0% 0% 0%;
	}

	.elevator-pic {
		height: 141px;
	}

	.elevator-text {
		font-size: 1.05em;
	}

	.prezi-div {
		height: 280px;
	}

	.embedded-prezi {
		width: 80%;
		height: 60%;
		padding: 15% 10%;
	}
}
















/* =================================================================================================================*/




																				/* 320px */

@media screen and (max-width: 345px) {


	.ScrollScreenIndicators {
		display: none;
	}

	.hook {
		display: none;
	}

	.start {
		display: none;
	}

	.end {
		display: none;
	}

	.landing-div {
		height: 494px;
	}
	


	.mw-name {
		font-size: 2.6em;
		padding-top: 7%;
	}
																										/* 320px */
	.job-title {

	}

	#javascriptLogo {
		width: 12.8%;
		height: 47px;
		margin: 2% 1.2% 2% 31.75%;
	}

	#htmlLogo {
		width: 12%;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	#cssLogo {
		width: 12%;
		margin-top: 2%;
		margin-bottom: 2%;
	}


	.button-container {
		display: block;
		width: 60%;
		margin: 0% 20% 0% 20%;
		padding-bottom: 0% 0% 0% 0%;
	}
																										/* 320px */
	.git-button {
		display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}

	.portfolio-button {
		display: block;
		width: 100%;
		margin: 7% 0% 7% 0%;
		padding: 0% 0% 0% 0%;	
	}

	.button-container > span {
		width: 100%;
	}

	.button-container > span > a {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}

	.linkedin-button {
		display: block;
		width: 100%;
		margin: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
	}
/*
	.skype-button {
		margin-top: 20.2%;
		height: 80px; 
	}

	.skype-button > a {
		font-size: 0.68em;
	}

	.skype-button > ul {
	}

	.skype-button > ul > li {
	
	}
*/
																										/* 320px */
	#scrollArrow {
	/*	width: 14%;
		margin: 2% 43% 2% 43%; 
		margin-bottom: 15%; */
	}

	.tools-proficiencies {
		height: 505px;
	}

	.tools-header {
		font-size: 1.9em;
	}

	.tools-list > a {
		font-size: 0.555em;
	}

	#leftIcons {
		height: 100%;
	}

	#rightIcons {
		height: 100%;
	}

	#synerginFixedPicMobile {
		height: 175px;
		padding-top: 20%;
	}

	#elevatorDiv { 
		height: 1065px;
		margin-top: 300%;
		background-color: white;
	}

	.elevator-pic {
		height: 146px;
	}

	.elevator-title {

	}
																										/* 320px */
	#portfolioDiv {

	}

	#ptdiv {

	}

	#portfoliotitle {
		font-size: 1.7em;
	}

	.prezi-div {
		height: 170px;
	}

	.embedded-prezi {
		height: 90%;
	}

}

/*
	.skype-button {

	}

	.skype-button > a {
		margin: 40.85% 0% 0% 0%; 
		padding-top: 1.5%;
		padding-bottom: 4.5%; 
	}

	.skype-button > ul {

	}

	.skype-button > ul > li {
		font-size: 1em;
		background-color: rgba(0,0,0,1);
	}
*/																										/* 320px */
