
/* Sourced by: indexRenew.html */

body {
	margin: 0;
	padding: 0;
	border: none;
	font-style: 16px;
}





@media (max-width: 767px) {
	.quad-logos-png {
		display: none;
	}

}

/* Nav bar CSS found in navbar.css file in this directory's style folder */

/*
#under {
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 100%;
    height: 1000px;
    z-index: 1;
}

.under-section {
/*    margin-bottom: 100px; 
    width: 100%;
    height: 600px;
    display: block;
}

*/




/* Homepage CSS */

.mw-name {
	display: inline-block;
	width: 40%;				/* This will be changed to display: none when we implement the fadeIn functions */
	font-family: 'Alegreya Sans', serif;
	color: black;
	font-size: 320%;
	margin: 70px 0% 15px 5%;
}

.job-title {
/*	float: right;
	margin: 0% 0% 0% 0%;
	padding: -2.8% 0% 0% 0%;
/*	padding: 0% 0% 3% 0%; */
/*	width: 133.891px;
/*	min-width: 133.891px;  */
	font-size: 1em;
	font-family: 'Gilda Display', serif;
	text-align: right;
	padding-right: 18.5%;
}

.mw-intro {
	padding-right: 15%;

/*	margin: 0% 1.5% 1.3% 16%;
	padding: 0% 1.5% 0% 0%; */
	text-align: justify;
	font-size: 1.35em;
	font-family: 'Alegreya Sans', sans-serif;

	
}

.quad-logos-png {
/*	display: inline-block;
/*	width: 45%; 
	padding-right: 6%;
/*	margin: 2% 5% 0% 0%;
/*	padding: 29px 37.5% 1% 37.5%;  */
}

#quadLogos {
	display: none;

}

.home-box-content {
	text-align: center;
	padding-top: 55px;
/*	width: 80%; */
}

/*
.elevator-images {
	padding: 0% auto 0% auto;
}
*/

.footer-text {
	font-style: italic;
	font-size: 10pt;
	text-align: center;
	color: white;
	font-family: 'Gilda Display', serif;
	margin-bottom: 1px;
	margin-top: 1px;
}	

.my-app-button {
/*	height: 63px;
	margin: 25px 0px 0px 20%; 
	padding: 0	% 33.33333% 0% 33.33333%; */
	font-family: 'Gilda Display', serif; 
	text-align: center;
	font-size: 1em;
}


/*
#quadLogosWrap {

}
*/











































/* old code


/* Following code abstracted from http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu examples 

#mainNav ul {
	position: relative;
}

#mainNav ul li {
	position: relative;
}



#mainNav ul li {
	display: inline-block;
}

#mainNav ul ul {
	display: none;
}

#mainNav ul:hover {
	display: inline-block;
}

#mainNav ul ul:hover {
	display: block;
}

#mainNav ul li:hover > ul {
	display: block;
}

#mainNav ul li:hover > ul li {
	display: block;
}
/*





/* Old code 


#mainNav ul:after {
		content: ""; clear: both; display: block;
}













*/



