

.welcome {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #4CCF53),
		color-stop(1, #051C1F)
	);
	background-image: -o-linear-gradient(bottom, #4CCF53 0%, #051C1F 100%);
	background-image: -moz-linear-gradient(bottom, #4CCF53 0%, #051C1F 100%);
	background-image: -webkit-linear-gradient(bottom, #4CCF53 0%, #051C1F 100%);
	background-image: -ms-linear-gradient(bottom, #4CCF53 0%, #051C1F 100%);
	background-image: linear-gradient(to bottom, #4CCF53 0%, #051C1F 100%);
	text-align: center;
	color: white;
	padding-top: 80px;
	padding-bottom: 80px;

}

.mw-name {
	font-family: 'Gilda Display', serif;
	color: white;
	font-size: 62px;
	margin-top:0px;
	margin-bottom: 25px;
}

.mw-intro {
	padding-left: 5%;
	padding-right: 5%;
	font-size: 21px;
	font-family: 'Alegreya Sans', sans-serif;
	margin-bottom: 0px;
}

.tryin {
	background-color: #4CCF53;
	border-style: solid;
	border-color: white;
	height: 400px;
}

.home-box-content {
	text-align: center;
	padding-top: 55px;
	padding-left: 40px;
	padding-right: 40px;
}

.footer-text {
	font-style: italic;
	font-size: 10pt;
	text-align: center;
	color: white;
	font-family: 'Gilda Display', serif;
	margin-bottom: 1px;
	margin-top: 1px;
}

.my-app-button {
	width: 200px;
	height: 63px;
	margin-top: 25px;
}