.loginLogoContainer {
	width: 100%;
	height: 340px;
}

.divideBanner {
	height: 70px;
	background-color: blue;
}

.logo {
	display: inline-block;
	margin-top: 1%;
	margin-left: 4%;
}

.loginBox {
	display: inline-block;
	width: 20%;
	height: 235px;
	border-style: solid;
	border-color: blue;
	float: right;
	margin-right: 4%;
	margin-top: 1%;

}

.col-xs-1 {
  width: 8.333333333333332%;

}

.borderSolid {
	border-style: solid;
	border-color: green;
	height: 100px;
}  

.something {

}	

.inputMargins {
	width: 300px;
	margin: 25px auto 0px auto;

}

.login-button {
	display: inline-block;
	width: 15%;
	margin-right: 37.678px;
	margin-top: 25px; 
	float: right;
}

.site-Container {
	width: 100%;
	height: 4000px;
	background-color: black;
}

.sign-up {
	display: inline-block;
	margin-left: 37.678px;
	margin-top: 25px;


}

.forget-something {
	display: block;
	text-align: center;
	margin: 25px auto 0px auto;
}

.login-navbar {
	height: 5%;
	width: 100%;
	background-color: #CCFFFF;
	border-style: solid;
	border-color: green;
}




/* Responsive design css 

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} 

*/

