h1 {
	color:orange;

}

.icing {
	height: 500px;
	width: 313px;
	border-style: solid;
	border-color: green;
	margin: 10px;
}

.cake {
	height: 400px;
	width: 250px;
	border-style: solid;
	border-color: red;
	margin: 10px;
}

.filling {
	height: 300px;
	width: 188px;
	border-style: solid;
	border-color: blue;
	margin: 10px;
}

.box1 {
	height: 300px;
	width: 31.3333333%;
	border-style: solid;
	border-color: blue;
	margin: 1px;
	display: inline-block;
}

.box2 {
	height: 300px;
	width: 31.3333333%;
	border-style: solid;
	border-color: blue;
	margin: 1px;
	display: inline-block;
}

.box3 {
	height: 300px;
	width: 31.3333333%;
	border-style: solid;
	border-color: blue;
	margin: 1px;
	display: inline-block;
}



/*media quieries */
/*iPhone */


@media screen and (max-width: 480px) {
  /* and here you can input changes */
  /* see Treehouse photo: Examples of what goes inside braces of a media query.png; */

}